{% extends baseLayoutPath %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "section-list/macro.njk" import appSectionList %}
{% from "partials/components.html" import componentList with context %}
{% from "support-details/macro.njk" import defraSupportDetails %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {% if previewMode %}
        {% include "partials/preview-banner.html" %}
      {% endif %}

      {% if errors %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errors
        }) }}
      {% endif %}

      {% if error %}
        {{ govukErrorSummary(error) }}
      {% endif %}

      <h1 class="govuk-heading-l">
        {{ pageTitle }}
      </h1>

      <p class="govuk-body">If your details are not correct you need to update them before you apply.</p>

      {{ appSectionList({ sections: sections }) }}

      <form method="post" novalidate>
        <input type="hidden" name="crumb" value="{{ crumb }}">

        {{ componentList(components) }}

        {{ govukButton({
          text: "Continue",
          preventDoubleClick: true
        }) }}
      </form>

      {{ defraSupportDetails({typeOfSupport: 'help', email: page.def.metadata.supportEmail}) }}
    </div>
  </div>
{% endblock %}
