{% extends "layouts/page.njk" %}
{% set backLink = false %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "dev-mode-banner/macro.njk" import appDevModeBanner %}
{% from "section-list/macro.njk" import appSectionList %}
{% from "demo-aware-button/macro.njk" import appDemoAwareButton %}
{% from "two-thirds-column/macro.njk" import appTwoThirdsColumn %}

{% block content %}
  {% call appTwoThirdsColumn() %}
    {{ appDevModeBanner({
        isDevelopmentMode: isDevelopmentMode,
        formSlug: formSlug,
        formTitle: formTitle,
        demoRoute: "/dev/demo-details/" + formSlug if formSlug else "",
        routePattern: "/dev/demo-details/{slug}"
      }) }}

    {% if errors %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errors
      }) }}
    {% endif %}

    <h1 class="govuk-heading-l">
      {{ pageTitle }}
    </h1>

    {{ appSectionList({ sections: sections }) }}

    <form method="post" novalidate="novalidate">
      {{ govukRadios({
        classes: "govuk-radios--inline",
        name: "detailsCorrect",
        fieldset: {
          legend: {
            text: "Are these details correct?",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          { value: "true", text: "Yes" },
          { value: "false", text: "No" }
        ],
        errorMessage: errors and errors[0] and { text: errors[0].text }
      }) }}

      {{ appDemoAwareButton({
        isDevelopmentMode: isDevelopmentMode,
        crumb: crumb,
        text: "Continue"
      }) }}
    </form>
  {% endcall %}
{% endblock %}
