{% extends "layouts/page.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "support-details/macro.njk" import defraSupportDetails %}
{% from "two-thirds-column/macro.njk" import appTwoThirdsColumn %}

{% block beforeContent %}
  {{ super() }}
  {% if backLink %}
    {{ govukBackLink(backLink) }}
  {% endif %}
{% endblock %}

{% block content %}
  {% call appTwoThirdsColumn() %}
    {% if incorrectDetailsContent %}
      <h1 class="govuk-heading-l">{{ incorrectDetailsContent.heading }}</h1>

      {% for p in incorrectDetailsContent.paragraphs %}
        {% if p is string %}
          <p class="govuk-body">{{ p }}</p>
        {% else %}
          <p class="govuk-body">{{ p.textBefore }}<a class="govuk-link" href="{{ p.link.href }}">{{ p.link.text }}</a>{{ p.textAfter }}</p>
        {% endif %}
      {% endfor %}

      {% if incorrectDetailsContent.showRpaSupport %}
        {{ defraSupportDetails({ typeOfSupport: 'update' }) }}
      {% endif %}
    {% else %}
      <h1 class="govuk-heading-l">Contact the RPA to update your details</h1>

      <p class="govuk-body">
        You have indicated that your details are not correct.
      </p>

      <p class="govuk-body">
        You will need to contact the Rural Payments Agency (RPA) to let them know of any changes to your details before you can continue with your application.
      </p>

      {{ defraSupportDetails({ typeOfSupport: 'update' }) }}

      <p class="govuk-body govuk-!-margin-top-6">
        Once your details have been updated, you can return to this service and continue with your application.
      </p>
    {% endif %}

  {% endcall %}
{% endblock %}
