{% extends "layouts/page.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      You cannot submit this application
    </h1>

    <p class="govuk-body">
      Your progress has been saved.
    </p>

    <p class="govuk-body">
      You do not have permission to submit the application.
    </p>

    <p class="govuk-body">
      Contact an authorised person from your business to review and submit the application.
    </p>

    {{ govukButton({
      text: returnText,
      href: returnUrl
    }) }}

    {{ govukDetails({
      summaryText: "If you need to change your permissions",
      html: '
        <p class="govuk-body">
          You can
          <a class="govuk-link" href="https://www.gov.uk/guidance/give-someone-access-to-your-rural-payments-service-account">
            read the GOV.UK guidance on how to give or update permissions on the Rural Payments service
          </a>.
        </p>

        <p class="govuk-body">
          You can contact the Rural Payments Agency (RPA).
        </p>

        <p class="govuk-body">
          Email:
          <a class="govuk-link" href="mailto:ruralpayments@defra.gov.uk">
            ruralpayments@defra.gov.uk
          </a>
          <br>
          Telephone: 03000 200 301
          <br>
          Service opening times: Monday to Friday, 8:30am to 5pm, except bank holidays
          <br>
          <a class="govuk-link" href="https://www.gov.uk/call-charges">
            Find out about call charges
          </a>
        </p>
      '
    }) }}

  </div>
</div>

{% endblock %}