@use 'pkg:@defra/forms-engine-plugin';
@use 'pkg:govuk-frontend';

@use 'variables';
@use 'helpers';
@use 'core';
@use 'components';
@use 'partials';

.govuk-tag--white-bg {
    background-color: #ffffff;
    color: #0b0c0c;
    color: rgb(129, 128, 128);
  }