.DS_Store
.npm/
.vscode
.idea
.public
.server
node_modules
npm-debug.log
coverage
.cache
.env
.envrc
tsconfig.tsbuildinfo
.eslintcache
src/contracts/pacts
compose.override.yml
reports/mutation/mutation.html
.stryker-tmp
/http-client.private.env.json
