{%- set headingLevel = params.title.headingLevel or 2 -%}

<div class="govuk-summary-card {{ params.classes }}">
	<div class="govuk-summary-card__title-wrapper">
		<h{{headingLevel}} class="govuk-summary-card__title {{ params.title.classes }}">
			{{ params.title.text }}
		</h{{headingLevel}}>

		{% if (params.headerActions) and params.headerActions.text | length > 0 %}
			<div class="govuk-!-text-align-right{{ params.headerActions.classes }} govuk-!-font-weight-bold govuk-!-padding-bottom-2">
				{{ ('<a class="govuk-link ' + (params.headerActions.classes or '') + '" href="' + params.headerActions.href + '">' + params.headerActions.text + '<span class="govuk-visually-hidden"> ' + params.headerActions.hiddenTextValue +'</span></a>') | safe }}
			</div>
		{% endif %}
	</div>
	<div class="govuk-summary-card__content {{ params.content.classes }}">
		{{ caller() | trim }}
	</div>

	{% if (params.footerActions) and params.footerActions.text | length > 0 %}
		<div class="govuk-!-text-align-right{{ params.footerActions.classes }} govuk-!-padding-right-4 govuk-!-padding-bottom-2">
			{{ ('<a class="govuk-link ' + (params.footerActions.classes or '') + '" href="' + params.footerActions.href + '">' + params.footerActions.text + '<span class="govuk-visually-hidden"> ' + params.footerActions.hiddenTextValue +'</span></a>') | safe }}
		</div>
	{% endif %}
</div>
