{% if requirementText %}<span class="select-actions-requirement">{{ requirementText }}</span>{% endif -%}
<span>Payment rate per year: £{{ rate }}/{{ rateUnit or "ha" }}
{%- if agreementRate %} and <strong>£{{ agreementRate }}</strong> per agreement{% endif -%}
</span>
{%- if availabilityText %}<span id="{{ hintId }}">{{ availabilityText }}</span>{% endif -%}
{%- if showTotalGuidance %}<span class="select-actions-guidance">This action will use all the available area on this land parcel.</span>{% endif -%}
