<section id="sec-9-how-to-apply-online">
  <h2 class="govuk-heading-l">9. How to apply online</h2>
  <p class="govuk-body">To apply for an FPTT agreement, sign in to the Farm payments technical test.</p>
  <p class="govuk-body">Follow the screen guidance to complete your application.</p>
  <p class="govuk-body">Your application will save automatically so you can come back to it later.</p>
  <p class="govuk-body">
    If you have difficulty applying online, you can telephone the RPA for help on 020 8026 2395 (Monday to Friday,
    8.30am to 5pm, except bank holidays).
  </p>
  <p class="govuk-body">
    If your application is eligible, you’ll be offered an FPTT agreement through the Farm payments service. The RPA will
    tell you when your FPTT agreement offer is ready for you to check.
  </p>
</section>
