<section id="sec-13-complying-with-your-FPTT-agreement">
  <h2 class="govuk-heading-l">13. Complying with your FPTT agreement</h2>
  <p class="govuk-body">
    The RPA will support and advise you if you cannot comply with your agreement to help you resolve the problem, where
    possible.
  </p>
  <p class="govuk-body">During the period of your FPTT agreement, the RPA may check:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>you’re complying with your agreement’s terms and conditions</li>
    <li>
      you’ve completed what’s required in each of your selected FPTT actions in a way that could reasonably be expected
      to achieve their aims
    </li>
  </ul>

  <h3 class="govuk-heading-m">13.1 How the RPA will check you’re complying with your agreement</h3>
  <p class="govuk-body">
    The RPA will check you’re complying with your agreement’s obligations through a combination of:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>physical or virtual site visits</li>
    <li>remote monitoring</li>
    <li>desk-based administrative checks</li>
  </ul>
  <p class="govuk-body">The RPA may ask you to supply supporting evidence to show, for example, that:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>you have management control of your land</li>
    <li>
      you’ve completed what’s required in each FPTT action you’ve selected in a way that could reasonably be expected to
      achieve its aim – each action sets out what evidence you must keep
    </li>
  </ul>
  <p class="govuk-body">Your agreement’s terms and conditions explain that you must:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>provide this evidence if the RPA requests it</li>
    <li>
      keep this evidence for at least 7 years from your agreement’s end date, or its termination date if that’s earlier
    </li>
  </ul>

  <h4 class="govuk-heading-s">Site visits</h4>
  <p class="govuk-body">If the RPA selects your farm or land for a site visit, they’ll:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>try to arrange a suitable date and time with you in advance</li>
    <li>let you know what to expect during the visit</li>
  </ul>
  <p class="govuk-body">
    If it’s not possible to arrange a suitable date and time, the RPA will write to you by email or post explaining the
    purpose, date and time of the visit. This will be at least 48 hours before the site visit, unless the RPA has reason
    to suspect there’s been a serious breach of your agreement, fraud or any other related offence.
  </p>

  <h4 class="govuk-heading-s">Remote monitoring</h4>
  <p class="govuk-body">
    The RPA uses aerial photography and satellite imagery to carry out remote monitoring of land cover, vegetation
    condition and soil erosion risk. This aims to:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>reduce the need for physical site visits</li>
    <li>make sure the FPTT actions are being done in a way that could reasonably be expected to achieve their aims</li>
    <li>identify potential issues so the RPA can give targeted support</li>
  </ul>

  <h4 class="govuk-heading-s">Desk-based administrative checks</h4>
  <p class="govuk-body">
    The RPA carries out desk-based administrative checks to make sure you’re meeting your FPTT agreement’s obligations.
    This can include checking the nature and quality of any supporting evidence they ask you to supply, such as receipts
    and farm records.
  </p>

  <h3 class="govuk-heading-m" id="section-13.2">13.2 What you must do if you cannot comply with your agreement</h3>
  <p class="govuk-body">
    You must tell the RPA in writing as soon as possible if something happens within or outside your control which might
    reasonably be expected to affect your ability to comply with your FPTT agreement’s obligations. This is called a
    ‘change of circumstances’.
  </p>
  <p class="govuk-body">A change of circumstances includes something that may affect:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>your eligibility to get paid</li>
    <li>how much you’re paid</li>
    <li>your ability to complete your selected FPTT actions</li>
    <li>your ability to comply with your agreement’s terms and conditions</li>
  </ul>
  <p class="govuk-body">
    Preferably, you should tell the RPA about a change of circumstances within 8 weeks of you being able to do so.
  </p>
  <p class="govuk-body">
    You can notify the RPA about a change of circumstances by email or post. When you email or write to the RPA, you
    should include:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>your SBI</li>
    <li>your FPTT agreement reference number, which you can find on your agreement document</li>
    <li>
      as many details as possible about the change of circumstances, including specific details about any FPTT actions
      you cannot complete
    </li>
  </ul>
  <p class="govuk-body">
    The RPA will look at each change of circumstances on a case-by-case basis. Depending on what’s happened, they may:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>amend your agreement, for example, by removing land or FPTT actions</li>
    <li>reduce your payments</li>
    <li>ask you to repay some or all of the payments you’ve already received</li>
    <li>end your agreement early (before your agreement’s end date)</li>
  </ul>
  <p class="govuk-body">
    The RPA will tell you what their decision is. If you do not agree with it, you can use the
    <a
      href="https://www.gov.uk/government/organisations/rural-payments-agency/about/complaints-procedure"
      class="govuk-link"
      rel="noreferrer noopener"
      target="_blank"
      >complaints procedure (opens in new tab)</a
    >
    complaints procedure to ask the RPA to reconsider it. You must do this within 60 calendar days of the date you’re
    notified of the decision.
  </p>

  <h3 class="govuk-heading-m">13.3 How you could breach your agreement</h3>
  <p class="govuk-body">You could breach your FPTT agreement if you have:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>not notified the RPA of a change of circumstances</li>
    <li>given false or misleading information</li>
    <li>used the payments received under your agreement for a purpose that’s not in accordance with the agreement</li>
    <li>
      used the payments received under your agreement for activities that breach any law you’re required to comply with
    </li>
    <li>failed to comply with the terms of your agreement</li>
    <li>
      breached a requirement you’re subject to under the Agriculture (Financial Assistance) Regulations 2021, as amended
    </li>
    <li>failed to provide required information, records or evidence</li>
    <li>
      prevented an authorised person from carrying out a virtual or physical site visit of the land in your agreement
    </li>
    <li>
      refused a reasonable request by an authorised person to provide assistance to carry out a virtual or physical site
      visit of the land in your agreement
    </li>
    <li>obstructed a virtual or physical site visit of the land in your agreement</li>
    <li>
      failed to prevent or report actual or anticipated fraud or corruption in relation to the payments you receive
      under your agreement
    </li>
  </ul>
  <p class="govuk-body">
    This includes a breach caused by your employees or someone acting on your behalf, unless it relates to a change of
    circumstances or actual or anticipated fraud or corruption.
  </p>

  <h3 class="govuk-heading-m">13.4 If the RPA suspects there’s been a breach</h3>
  <p class="govuk-body">
    When the RPA checks if you’re complying with your FPTT agreement, they may reasonably suspect there’s been a breach.
  </p>
  <p class="govuk-body">If this is the case, the RPA will:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      carry out a proportionate investigation to determine whether there has been a breach – unlike previous schemes,
      they will not usually withhold your payments while investigating
    </li>
    <li>discuss their investigation with you, where possible, so you understand what they have found</li>
    <li>
      consider any ‘good reasons’ for the suspected breach (read section 13.6 Good reasons for a breach’ for more
      information)
    </li>
  </ul>
  <p class="govuk-body">
    The RPA may also ask you to provide more information or evidence. Once the RPA has completed their investigation,
    they’ll write to tell you:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>the outcome</li>
    <li>
      how you can respond to the outcome if you do not agree with it – including the deadline for submitting your
      response in writing
    </li>
  </ul>
  <p class="govuk-body">
    The RPA will consider your response before making a formal decision (known as a ‘determination’) about whether you
    have breached your agreement.
  </p>

  <h3 class="govuk-heading-m">13.5 RPA confirms there’s been a breach</h3>
  <p class="govuk-body">If the RPA decides that you have breached your FPTT agreement, they will:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>explain the reasons for their determination in writing</li>
    <li>
      decide what action, if any, they will take – there are no set actions that they’ll take for particular breaches of
      your agreement
    </li>
  </ul>
  <p class="govuk-body">
    What the RPA does about the breach will depend on the individual circumstances of your case. They will consider
    factors such as:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>how serious the breach was</li>
    <li>if you had a ‘good reason’ for the breach – read section 13.6: ‘Good reasons for a breach’</li>
    <li>why the breach happened and any consequences it may have</li>
    <li>
      what impact the breach has on achieving the aims of the FPTT actions in your agreement, and whether that impact
      will be short or longer term
    </li>
    <li>if you can take action to make sure you are complying with your agreement</li>
    <li>any past conduct and whether a similar breach has happened before</li>
    <li>if you intentionally breached your agreement</li>
    <li>whether the breach constitutes an offence and has caused widespread or irreparable damage</li>
    <li>if you have not co-operated with the RPA checking you’re complying with your agreement</li>
    <li>if you notified the RPA about a change of circumstances (if applicable)</li>
  </ul>
  <p class="govuk-body">The RPA may decide that no action is needed because:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>of the nature of the breach</li>
    <li>you’ve supplied evidence to them of a ‘good reason’ for the breach</li>
  </ul>
  <p class="govuk-body">If the RPA decides action is needed, they may:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>issue you with a warning letter</li>
    <li>
      temporarily or permanently amend, remove or replace a condition subject to which your agreement’s payments are
      made to you
    </li>
    <li>temporarily or permanently amend, remove or replace your selected FPTT actions or timescales</li>
    <li>allow you to rectify the breach</li>
    <li>
      delay, reduce, recover or withhold payments or require you to repay some or all the payments you’ve already
      received
    </li>
  </ul>
  <p class="govuk-body">The RPA may decide that there’s a serious breach of your FPTT agreement because it:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>was intentional</li>
    <li>was due to negligence or recklessness</li>
    <li>has happened more than once, without good reason</li>
  </ul>
  <p class="govuk-body">In this case, they may:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>end your FPTT agreement before its end date</li>
    <li>prevent you from receiving payments under any other financial assistance scheme for up to 2 years</li>
  </ul>
  <p class="govuk-body">Where there is evidence of fraud or illegality, they will follow the relevant legal process.</p>
  <p class="govuk-body">
    If you do not agree with the RPA’s determination that there’s been a breach, you can use the
    <a
      href="https://www.gov.uk/government/organisations/rural-payments-agency/about/complaints-procedure"
      class="govuk-link"
      rel="noreferrer noopener"
      target="_blank"
    >
      complaints procedure (opens in a new tab)
    </a>
    to ask the RPA to reconsider it. You must do this within 60 calendar days of the date you’re notified of the
    determination.
  </p>

  <h3 class="govuk-heading-m">13.6 Good reasons for a breach</h3>
  <p class="govuk-body">
    There may be circumstances (a ‘good reason’) which mean you breach your FPTT agreement’s obligations because of
    events outside of your control.
  </p>
  <p class="govuk-body">Good reasons for a breach include, but are not limited to:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>natural events, such as prolonged adverse weather conditions, flooding, or animal or plant disease</li>
    <li>if you are seriously ill</li>
    <li>the death of the agreement holder</li>
    <li>
      if there is unforeseen loss of management control of the land in your agreement, for example when a tenancy is
      terminated, or because of the compulsory purchase of land by a third party
    </li>
    <li>financial circumstances, such as bankruptcy</li>
    <li>evidenced supply chain problems, such as a lack of laboratory soil testing capacity</li>
    <li>criminal damage by a third party, such as arson or vandalism</li>
  </ul>
  <p class="govuk-body">
    If there’s a ‘good reason’ for the breach of your agreement, you (or someone authorised to act on your behalf) must
    write to the RPA to explain:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      what has happened, including details of the events outside your control which meant you breached your agreement
    </li>
    <li>whether you can take action to make sure you are complying with your agreement</li>
  </ul>
  <p class="govuk-body">
    You must email or write to the RPA immediately if the good reason is because you’ve breached your agreement by:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>preventing the RPA from carrying out a site visit</li>
    <li>refusing to provide assistance with a site visit</li>
    <li>otherwise obstructing a virtual or physical site visit of the land in your agreement</li>
  </ul>
  <p class="govuk-body">
    In all other cases, you must email or write to the RPA within 8 weeks from the date that either:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>you are able to</li>
    <li>the RPA notifies you of their determination that you’ve breached your agreement</li>
  </ul>
  <p class="govuk-body">The RPA will:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>consider your individual circumstances – they may ask you to supply further evidence</li>
    <li>decide what action, if any, they will take – they will tell you about their decision</li>
  </ul>
  <p class="govuk-body">
    If you knew about the issue when you entered your agreement, it’s unlikely the RPA will consider it to be a good
    reason for a breach.
  </p>
  <p class="govuk-body">
    The RPA will also take ‘good reasons’ into account when they investigate a suspected breach of your agreement. Read
    section 13.4: ‘If the RPA suspect there’s been a breach’.
  </p>
</section>
