<section id="sec-2-when-and-how-much-you-will-get-paid">
  <h2 class="govuk-heading-l">2. When and how much you’ll get paid</h2>
  <p class="govuk-body">Your agreement document will set out the details of your payments. This includes:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>the annual payment value for your selected actions</li>
    <li>the payments you’ll receive for each quarter of your agreement</li>
  </ul>

  <p class="govuk-body">
    Under an FPTT agreement, your annual payment value is paid in quarterly instalments. You’ll usually receive your
    first payment in the fourth month after your agreement’s start date.
  </p>

  <p class="govuk-body">
    You do not have to submit an annual claim to get paid. You’ll receive the first 3 instalments by automated BACS
    transfer.
  </p>
  <p class="govuk-body">
    You must submit an annual declaration (a simple tick box form) before you’re paid the fourth instalment. Read
    section 12.1 ‘Submit your annual declaration’ to find out what you must submit to get paid your fourth instalment.
  </p>
  <h3 class="govuk-heading-m">2.1 About your payment</h3>
  <p class="govuk-body">
    The RPA will usually email your payment details to you a few days before you get paid to tell you:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>how much you’ll be paid</li>
    <li>the payment date</li>
    <li>how your payment has been calculated</li>
  </ul>

  <h3 class="govuk-heading-m">2.2 How your payment is calculated</h3>

  <p class="govuk-body">Your FPTT agreement’s total annual payment value is based on:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>the area of land (in hectares) you’ve entered into your selected actions</li>
    <li>
      the additional payment per agreement if you’ve entered land into CMOR1 (assess moorland and produce a written
      record)
    </li>
  </ul>
  <p class="govuk-body">You will not be paid under FPTT for activities you’re already required to do by law.</p>
</section>
