<section id="sec-14-contact-the-RPA">
  <h2 class="govuk-heading-l">14. Contact the RPA</h2>
  <p class="govuk-body">If you have a question about the FPTT, contact the RPA by:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      email:
      <a
        href="mailto:farmpayments@rpa.gov.uk?subject=Farm payments technical test: SBI {{ auth.sbi | default('') }}"
        class="govuk-link"
      >
        farmpayments@rpa.gov.uk
      </a>
      – use ‘Farm payments technical test’ in the subject header and include your SBI
    </li>
    <li>
      telephone: <a href="tel:+4420 8026 2395" class="govuk-link">020 8026 2395</a> – Monday to Friday from 8.30am to
      5pm, except bank holidays
    </li>
    <li>post: PO Box 325, Worksop, S95 1DG</li>
  </ul>
</section>
