<section id="sec-8-what-to-do-before-you-apply-for-an-FPTT-agreement">
  <h2 class="govuk-heading-l">8. What to do before you apply for an FPTT agreement</h2>
  <p class="govuk-body">Before you apply for an FPTT agreement, you need to complete the following steps.</p>
  <h3 class="govuk-heading-m">8.1 Read the rules you must follow</h3>
  <p class="govuk-body">
    Read the rules you must follow when you enter an FPTT agreement to make sure you understand what you’re agreeing to
    do.
  </p>
  <p class="govuk-body">You can find these rules in:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      the FPTT actions you select – these are shown in the
      <a class="govuk-link" href="/farm-payments/fptt-actions" rel="noreferrer noopener" target="_blank"
        >FPTT actions (opens in new tab)</a
      >, with the action’s requirements identified by a ‘must’
    </li>
    <li>
      the
      <a class="govuk-link" href="/farm-payments/terms-and-conditions" rel="noreferrer noopener" target="_blank"
        >FPTT terms and conditions (opens in new tab)</a
      >
    </li>
  </ul>
  <p class="govuk-body">
    You also need to read the sections of this FPTT information which explain the rules set out in the FPTT agreement
    terms and conditions. These sections include:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>section 1 (about the Farm payments technical test) – the information on FPTT actions</li>
    <li>section 2 (when and how much you’ll get paid)</li>
    <li>section 4 (check if you have management control of land)</li>
    <li>section 5 (check if your land is eligible for FPTT actions)</li>
    <li>section 10 (get all necessary regulatory consents, permissions and licences in place)</li>
    <li>section 11 (about your FPTT agreement)</li>
    <li>section 12 (managing your FPTT agreement)</li>
    <li>section 13 (complying with your FPTT agreement)</li>
  </ul>

  <h3 class="govuk-heading-m">8.2 Check your registered contact details are up to date</h3>
  <p class="govuk-body">
    <a
      href="https://www.gov.uk/guidance/update-personal-and-business-details-in-the-rural-payments-service#how-to-update-your-personal-details"
      class="govuk-link"
      rel="noreferrer noopener"
      target="_blank"
    >
      Check your registered contact details, including your business email address, are up to date (opens in new tab)</a
    >. The RPA will use these details to contact you about your FPTT application and agreement.
  </p>

  <h3 class="govuk-heading-m">8.3 Check you have the correct permission to apply for FPTT</h3>
  <p class="govuk-body">
    You need the correct permission to apply for a FPTT agreement for your business (SBI). Sign in to the
    <a href="https://www.ruralpayments.service.gov.uk/" class="govuk-link" rel="noreferrer noopener" target="_blank">
      Rural Payments service (opens in new tab)</a
    >.
  </p>
  <p class="govuk-body">
    From ‘Business overview’ select ‘Give people permission to act for this business.’ You need to have either:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>‘Business Details: Full’ permission</li>
    <li>‘FPTT: Submit’ permission</li>
  </ul>
  <p class="govuk-body">
    If you do not have either of these permissions, you will not be able to apply for FPTT for your business.
  </p>
  <p class="govuk-body">For FPTT you are not able to give anyone else permission to act on your behalf.</p>

  <h3 class="govuk-heading-m">8.4 Check your registered land details are up to date</h3>
  <p class="govuk-body">Check the registered land details on your digital maps are up to date, so they show:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>all the land parcels you want to include in your FPTT application</li>
    <li>the correct total area (in hectares) for each land parcel</li>
    <li>
      the correct land covers for each land parcel (such as arable land, permanent grassland, permanent crops or
      relevant non-agricultural cover)
    </li>
  </ul>
  <p class="govuk-body">
    If these land details are not up to date, this may prevent you from applying for the FPTT actions you select. Read
    the guidance on
    <a
      href="https://www.gov.uk/guidance/digital-maps-in-the-rural-payments-service-check-and-change-mapping-updates"
      class="govuk-link"
      rel="noreferrer noopener"
      target="_blank"
      >how to check your digital maps (opens in new tab)</a
    >.
  </p>
  <p class="govuk-body">If you need to update your digital maps, read the guidance on:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      <a
        href="https://www.gov.uk/guidance/rural-payments-service-how-to-register-land-and-update-digital-maps"
        class="govuk-link"
        rel="noreferrer noopener"
        target="_blank"
      >
        how to update your digital maps online (opens in new tab)
      </a>
    </li>
    <li>
      <a
        href="https://www.gov.uk/government/publications/tell-the-rural-payments-agency-about-land-changes-and-entitlement-transfers"
        class="govuk-link"
        rel="noreferrer noopener"
        target="_blank"
      >
        updating your maps using form RLE1 (opens in new tab)
      </a>
      (only if you’re unable to do this online)
    </li>
  </ul>
</section>
