<section id="sec-4-check-if-you-have-management-control-of-land">
  <h2 class="govuk-heading-l">4. Check if you have management control of land</h2>
  <p class="govuk-body">
    You must have management control of the land parcels you enter into your FPTT agreement for the duration of your
    agreement.
  </p>

  <h3 class="govuk-heading-m">4.1 Who has management control</h3>
  <p class="govuk-body">
    You’ll have management control if you have sufficient control over how the land is managed to complete the actions
    you’ve selected. For the FPTT, this means you’re the person actively farming or managing the land. Usually, this
    means you’re:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>an owner-occupier who’s either farming or managing the land themselves or employing a contractor</li>
    <li>
      a tenant with a Farm Business Tenancy (FBT) under the Agricultural Tenancies Act 1995, or an Agricultural Holdings
      Act 1986 tenancy – read section 4.2 ‘Land you occupy under a tenancy agreement’
    </li>
  </ul>
  <p class="govuk-body">You will not have <man></man>agement control if you’re:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>a landlord, as you’re not actively farming or managing the land</li>
    <li>
      a licensee, who only has access to the land under a licence arrangement – if you have wider land management
      responsibilities similar to a tenancy (such as Ministry of Defence licences), read section 4.2 about ‘land you
      occupy under a tenancy agreement’
    </li>
  </ul>
  <p class="govuk-body">
    When you enter land into an FPTT agreement, you declare that you’ll have management control of it for the duration
    of your agreement. You must provide evidence of this if the RPA asks for it.
  </p>

  <h3 class="govuk-heading-m">4.2 Land you occupy under a tenancy agreement</h3>
  <p class="govuk-body">
    If you occupy land under an FBT or an Agricultural Holdings Act 1986 tenancy, you must make sure that by entering
    this land into an FPTT agreement, you do not breach the conditions of your tenancy.
  </p>
  <p class="govuk-body">
    Your tenancy may be due to expire before the end date of your FPTT agreement. This will usually be the case if, for
    example, you occupy land under an FBT granted for a term of:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>than 2 years, that you expect to continue on a rolling year-by-year basis</li>
    <li>2 years or less, that you expect your landlord to renew when the term expires</li>
  </ul>
  <p class="govuk-body">
    In this case, you must only enter this land into an FPTT agreement if you expect to have management control over it
    for the duration of your agreement.
  </p>
  <p class="govuk-body">
    If you’re not sure if your tenancy will continue (or be renewed), you need to check this with your landlord before
    you enter the land into an FPTT agreement.
  </p>

  <h3 class="govuk-heading-m">4.3 Unexpected loss of management control</h3>
  <p class="govuk-body">
    You must tell the RPA in writing if you unexpectedly lose management control of your agreement land before your FPTT
    agreement ends.
  </p>
  <p class="govuk-body">
    You must do this in writing as soon as possible. Preferably this should be within 8 weeks of you being able to do
    so.
  </p>
  <p class="govuk-body">If you lose management control of:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>all your agreement land, the RPA will end the agreement</li>
    <li>some of your agreement land, the RPA will remove the affected land from your agreement</li>
  </ul>
  <p class="govuk-body">
    In both cases, you may have to repay some or all the payments you’ve already received. Read section 13.2: ‘What you
    must do if you cannot comply with your agreement’.
  </p>
</section>
