<section id="sec-11-about-your-FPTT-agreement">
  <h2 class="govuk-heading-l">11. About your FPTT agreement</h2>
  <p class="govuk-body">Your FPTT agreement is the legally binding agreement between you and Defra. It comprises:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>your agreement document – you can view this in the Farm payments service</li>
    <li>the FPTT terms and conditions</li>
    <li>the FPTT actions you have selected</li>
  </ul>

  <h3 class="govuk-heading-m">11.1 What you’re agreeing to do</h3>
  <p class="govuk-body">When you enter an FPTT agreement, you’re agreeing to:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      complete the FPTT actions you have selected, as referenced in your agreement document and set out in the FPTT
      actions at your agreement’s start date
    </li>
    <li>comply with your agreement’s terms and conditions</li>
    <li>
      obtain, maintain and comply with any required permits, licences, permissions, consents, approvals, certificates
      and authorisations (whether statutory or otherwise)
    </li>
  </ul>

  <h3 class="govuk-heading-m">11.2 Agreement start and end date</h3>
  <p class="govuk-body">
    Your agreement document will show the start and end dates for your agreement (the ‘agreement duration’).
  </p>
  <p class="govuk-body">
    The agreement start date will be on the first day of the calendar month after you have accepted your offer.
  </p>
  <p class="govuk-body">
    The agreement end date will be 12 months after the agreement start date (for example, if an agreement start date is
    1 January 2026, then the agreement end date would be 31 December 2026).
  </p>
</section>
