<section id="sec-1-about-the-farm-payments-technical-test">
  <h2 class="govuk-heading-l">1. About the Farm payments technical test</h2>
  <p class="govuk-body">
    The Farm payments technical test (FPTT) is open to a small number of invited farmers to test a new farm payments
    platform. It allows farmers to apply for up to 4 land management practices on their land, known as ‘actions’.
  </p>
  <p class="govuk-body">This FPTT information includes the rules which apply to FPTT agreements.</p>
  <p class="govuk-body">Your FPTT agreement will last for 12 months unless your agreement ends early.</p>

  <h3 class="govuk-heading-m">1.1 FPTT actions</h3>

  <p class="govuk-body">The actions include:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>CMOR1: Assess moorland and produce a written record</li>
    <li>UPL1: Moderate livestock grazing on moorland</li>
    <li>UPL2: Low livestock grazing on moorland</li>
    <li>UPL3: Limited livestock grazing on moorland</li>
  </ul>
  <p class="govuk-body">
    You can select any combination of these actions if your land is eligible for them. Each action sets out which other
    actions you can do on the same area of land.
  </p>
  <p class="govuk-body">You can apply for these actions without specialist advice or approval.</p>
  <p class="govuk-body">
    These actions are static. This means you must do them at the same location for the 12 month duration of your FPTT
    agreement.
  </p>
  <p class="govuk-body">
    You’ll find the details of these actions in the
    <a href="/farm-payments/fptt-actions" class="govuk-link" rel="noreferrer noopener" target="_blank"
      >FPTT actions (opens in new tab)</a
    >.
  </p>
</section>
