<section id="sec-6-eligible-land-in-other-funding-schemes">
  <h2 class="govuk-heading-l">6. Eligible land in other funding schemes</h2>
  <p class="govuk-body">
    You can enter land that’s used for other funding schemes into FPTT actions in your FPTT agreement if:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>you and your land are eligible for both</li>
    <li>the activities you’re paid for under each scheme are compatible</li>
    <li>
      you will not be paid twice for a similar activity on the same area of land at the same time (known as ‘double
      funding’)
    </li>
  </ul>
  <p class="govuk-body">
    These 3 conditions apply to land that’s already in an agreement for the following funding schemes or grants:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>the SFI 2024 offer</li>
    <li>the SFI 2023 offer</li>
    <li>Countryside Stewardship (CS) Mid Tier, Wildlife Offers or Higher Tier</li>
    <li>Environmental Stewardship (ES) Higher Level Stewardship</li>
    <li>Landscape Recovery</li>
    <li>the Farming in Protected Landscapes programme</li>
  </ul>
  <p class="govuk-body">
    Each FPTT action sets out which SFI actions and CS or ES options you can do on the same area of land.
  </p>
  <p class="govuk-body">
    If an FPTT action cannot be done on the same area of land as the other funding scheme, you may be able to do it on a
    different area in the same land parcel if:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>it’s an eligible land type for the action</li>
    <li>it’s an action you can do on part of the available area in a land parcel</li>
    <li>the area entered into the action does not overlap with the area used for the other funding scheme</li>
  </ul>
  <p class="govuk-body">
    You can enter land that’s in an existing CS capital grants agreement to an FPTT agreement because they pay for
    different things.
  </p>
  <h3 class="govuk-heading-m">6.1 Private sector schemes</h3>
  <p class="govuk-body">You can enter land that’s used for a private sector scheme into FPTT actions for the FPTT.</p>
  <p class="govuk-body">Private sector schemes include arrangements, such as:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>carbon trading</li>
    <li>payments of natural flood management</li>
  </ul>
</section>
