<section id="sec-7-select-your-FPTT-actions">
  <h2 class="govuk-heading-l">7. Select your FPTT actions</h2>
  <p class="govuk-body">You can select any number of the FPTT actions that your land is eligible for.</p>

  <h3 class="govuk-heading-m">View FPTT actions</h3>
  <p class="govuk-body">
    You can view the actions in the
    <a href="/farm-payments/fptt-actions" class="govuk-link" rel="noreferrer noopener" target="_blank"
      >FPTT actions (opens in new tab)</a
    >.
  </p>
  <p class="govuk-body">
    Each FPTT action is identified by an action code, for example ‘CMOR1: Assess moorland and produce a written record’.
  </p>
  <p class="govuk-body">Each action tells you:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>the action’s duration</li>
    <li>how much you’ll be paid</li>
    <li>the action’s aim</li>
    <li>where you can do the action – including the eligible land type and cover</li>
    <li>
      if you can do the action on eligible land that’s an SSSI – you must get SSSI consent before you do the action,
      unless it’s exempt
    </li>
    <li>
      if you can do the action on eligible land with an historic or archaeological feature – you must get an SFI HEFER
      and scheduled monument consent, if relevant, from Historic England before you do the action
    </li>
    <li>that you can only enter the total available area in a land parcel for the 4 FPTT actions</li>
    <li>what to do</li>
    <li>when to do the action</li>
    <li>what evidence to keep</li>
    <li>SFI actions, or CS or ES options you can do on the same area in a land parcel as the action</li>
    <li>advice to help you do the action</li>
  </ul>
</section>
