<section id="sec-3-check-if-you-are-eligible-to-apply">
  <h2 class="govuk-heading-l">3. Check if you’re eligible to apply</h2>
  <p class="govuk-body">You can apply for an FPTT agreement if:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>you’re a farmer or land manager who has been invited to apply</li>
    <li>
      you have management control of the land you want to enter into actions – read section 4: ‘Check if you have
      management control of land’ to find out what this means
    </li>
    <li>your land is eligible for the actions you select</li>
    <li>the land parcels you want to apply for are wholly located in England</li>
  </ul>
  <h3 class="govuk-heading-m">3.1 If you’ve received a Lump Sum Exit Scheme payment</h3>
  <p class="govuk-body">
    If you’ve received a payment under the
    <a
      href="https://www.gov.uk/government/collections/lump-sum-exit-scheme"
      class="govuk-link"
      rel="noreferrer noopener"
      target="_blank"
    >
      Lump Sum Exit Scheme (opens in new tab)
    </a>
    to leave or retire from farming:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>as an individual – you’re not eligible to apply for an FPTT agreement, unless you repay the lump sum</li>
    <li>
      as a partnership or limited company – if only some partners or shareholders left the business, the remaining
      partners or shareholders can apply for an FPTT agreement without repaying the lump sum
    </li>
  </ul>

  <h3 class="govuk-heading-m">3.2 If you receive delinked payments</h3>
  <p class="govuk-body">
    If you receive
    <a
      class="govuk-link"
      rel="noreferrer noopener"
      target="_blank"
      href="https://www.gov.uk/guidance/delinked-payments-replacing-the-basic-payment-scheme"
      >delinked payments (opens in new tab)</a
    >
    (which replaced BPS payments from 2024), you can apply for an FPTT agreement.
  </p>

  <h3 class="govuk-heading-m">3.3 Eligibility of public bodies</h3>
  <p class="govuk-body">
    A public body is a formally established organisation that is publicly funded to provide a public or government
    service.
  </p>
  <p class="govuk-body">Public bodies are not eligible to apply for an FPTT agreement.</p>
  <p class="govuk-body">Public bodies include:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>Crown bodies (including all government departments, executive agencies and trading funds)</li>
    <li>non-departmental public bodies</li>
    <li>local authorities</li>
    <li>national park authorities</li>
    <li>park corporations</li>
  </ul>
  <p class="govuk-body">
    See a
    <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://www.gov.uk/government/organisations"
      >list of all departments, agencies and public bodies (opens in new tab).</a
    >
  </p>

  <p class="govuk-body">
    Parish councils and former college farms are not considered public bodies. They can apply for an FPTT agreement if
    they’re eligible.
  </p>
</section>
