<section id="sec-5-check-if-your-land-is-eligible-for-FPTT-actions">
  <h2 class="govuk-heading-l">5. Check if your land is eligible for FPTT actions</h2>
  <p class="govuk-body">
    The land you enter into your FPTT agreement must be eligible for the actions you select. It’s your responsibility to
    check that this is the case.
  </p>
  <p class="govuk-body">Your land will be eligible for the FPTT actions you select if the area is:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>in a land parcel that’s entirely located within England</li>
    <li>an eligible land type – this is set out in each action</li>
    <li>registered on your digital maps with an eligible land cover – this is set out in each action</li>
  </ul>
  <p class="govuk-body">
    You must not enter land into your FPTT agreement if it’s being used for an SFI action, CS or ES option that:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>requires activities which are not compatible with the FPTT actions you select</li>
    <li>
      means you will be paid twice for a similar activity on the same area of land at the same time (known as ‘double
      funding’)
    </li>
  </ul>
  <p class="govuk-body">Read section 6, ‘Eligible land in other funding schemes’, for more information.</p>

  <h3 class="govuk-heading-m" id="section-5.1">5.1 Eligible land types for FPTT</h3>
  <p class="govuk-body">
    Land type describes the type of land in more detail. For example, different types of grassland, such as improved
    grassland and low input (semi-improved or unimproved grassland).
  </p>
  <p class="govuk-body">
    The land type must be eligible for your selected actions at the start of your FPTT agreement.
  </p>

  <p class="govuk-body">
    Each action sets out which land types are eligible. It’s your responsibility to check the land type is eligible for
    each action you select.
  </p>
  <p class="govuk-body">The following are the definitions of how certain land types are defined for FPTT.</p>
  <h4 class="govuk-heading-s">Permanent grassland</h4>
  <p class="govuk-body">
    Permanent grassland is land used to grow grass for 5 consecutive years or more that’s not been included in an arable
    crop rotation. It can either be improved or low input.
  </p>
  <p class="govuk-body">
    Improved permanent grassland is permanent grassland that’s been agriculturally ‘improved’ by at least one of the
    following activities:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>regularly reseeding, or reseeding within the last 15 years</li>
    <li>
      regularly applying fertiliser (typically at least 100 kilograms per hectare per year of nitrogen as an artificial
      compound fertiliser or animal manures and slurries)
    </li>
    <li>blanket herbicide application to treat weeds</li>
    <li>maintaining field drains</li>
    <li>taking conserved forage as silage, haylage or hay more than once a year</li>
  </ul>
  <p class="govuk-body">
    Improved grassland will usually have a high cover of ryegrasses and white clover, with a low cover of wildflowers
    and sedges.
  </p>
  <p class="govuk-body">
    Low input (semi-improved or unimproved) permanent grassland is permanent grassland that’s been managed by doing at
    least one of the following activities:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>no reseeding for at least 15 years</li>
    <li>applying low or no amounts of artificial compound fertiliser or animal manures and slurries</li>
    <li>applying localised or no herbicide to treat weeds</li>
    <li>
      leaving field drains unmaintained or maintaining them infrequently (hay meadows may be more actively drained)
    </li>
    <li>taking conserved forage as hay or haylage no more than once a year</li>
  </ul>
  <p class="govuk-body">Semi-improved low input grassland will usually have:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      been managed so it’s had some agricultural ‘improvement’ – for example, by applying low amounts of fertiliser or
      localised herbicide to treat weeds
    </li>
    <li>
      a moderate cover (more than around 30%) of ryegrasses and white clover, with a high cover of wildflowers and
      sedges
    </li>
  </ul>
  <p class="govuk-body">
    Unimproved low input grassland will have had no agricultural ‘improvement’, usually for at least 15 years. For
    example, no application of fertiliser or herbicide. This includes the land type ‘rough grazing’ as set out in the
    relevant actions (see also moorland).
  </p>
  <p class="govuk-body">Species-rich permanent grassland is permanent grassland that has:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      minimal cover of white clover and perennial ryegrass – this will usually be less than around 10% of the area
    </li>
    <li>
      species-rich sward – this usually means there are more than 15 plant species per square metre, including grasses
    </li>
    <li>
      a high cover of wildflowers and sedges, excluding white clover, creeping buttercup, and injurious weeds – this
      will usually be more than around 30% of the area
    </li>
  </ul>

  <h4 class="govuk-heading-s">Moorland</h4>
  <p class="govuk-body">
    Moorland includes permanent grassland and certain non-agricultural features, such as scrub, scree, bracken and bog,
    which are above the moorland line. You can find out which land is above the moorland line on the
    <a class="govuk-link" href="https://magic.defra.gov.uk/home.htm" rel="noreferrer noopener" target="_blank"
      >MAGIC website (opens in new tab)</a
    >.
  </p>
  <p class="govuk-body">The vegetation of moorland areas is usually:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      semi-natural moorland habitats including heathland, blanket bog, rough acid grasslands, rushy flushes, swamps,
      mires and bracken
    </li>
    <li>upland calcareous grassland</li>
  </ul>
  <p class="govuk-body">Much upland moorland is either registered common land or shared grazing.</p>

  <h3 class="govuk-heading-m">5.2 Eligible land covers</h3>
  <p class="govuk-body">
    Land cover is registered by the RPA on your digital maps. It describes the physical nature of the land. There are 3
    agricultural land covers:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>arable land</li>
    <li>permanent grassland – this is the only land cover that applies to FPTT actions</li>
    <li>permanent crops</li>
  </ul>
  <p class="govuk-body">There are also non-agricultural land covers, such as woodland and farm buildings.</p>
  <p class="govuk-body">
    For each land parcel you want to enter into an FPTT action, you need to check that its area is registered on your
    digital maps with a land cover that’s eligible for the action – read the guidance on
    <a
      href="https://www.gov.uk/guidance/digital-maps-in-the-rural-payments-service-check-and-change-mapping-updates"
      class="govuk-link"
      rel="noreferrer noopener"
      target="_blank"
    >
      how to check the registered land cover on your digital maps (opens in new tab)</a
    >.
  </p>
  <p class="govuk-body">The eligible land covers are set out in each action.</p>

  <h3 class="govuk-heading-m">5.3 Available area calculation</h3>
  <p class="govuk-body">
    When you select FPTT actions the application service will calculate what area in each land parcel may be eligible
    for the action. This is called the ‘available area’.
  </p>
  <p class="govuk-body">
    The available area is calculated for each action you select by taking the land parcel’s total area and subtracting
    (where relevant) any area which has been:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>registered with a land cover that is not eligible for the action</li>
    <li>
      entered into another FPTT action, SFI action, CS option, static ES option, that is not compatible with the action
      or means there would be double funding
    </li>
  </ul>
  <p class="govuk-body">
    The application service cannot subtract any area entered into a rotational ES option that is not compatible or means
    there would be double funding. You will need to enter this area and the RPA will manually subtract it when they
    process your application. They will contact you before they do this.
  </p>
  <p class="govuk-body">
    It’s your responsibility to check that the available area you want to enter into an FPTT action in each land parcel:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>is an eligible land type for the action – read section 5.1 ‘Eligible land types for FPTT’</li>
    <li>
      will not overlap with any area entered into an SFI action, CS option or ES option that is not compatible or means
      there would be double funding
    </li>
  </ul>

  <h3 class="govuk-heading-m">5.4 Land that’s a site of special scientific interest (SSSI)</h3>
  <p class="govuk-body">You can enter land that’s an SSSI into actions if it’s eligible. Each action sets this out.</p>
  <p class="govuk-body">
    If you apply for actions on land that’s an SSSI, you must get SSSI consent from Natural England. You must do this
    before you do UPL1, UPL2 or UPL3 on this land. CMOR1 is exempt.
  </p>
  <p class="govuk-body">
    Read section 10.3: ‘SSSI consent’ to find out how to get SSSI consent and which actions are exempt.
  </p>

  <h3 class="govuk-heading-m" id="section-5.5">5.5 Land with historic or archaeological features</h3>
  <p class="govuk-body">
    You can enter land with historic or archaeological features into actions if it’s eligible. Each action sets this
    out.
  </p>
  <p class="govuk-body">Historic or archaeological features include:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>non-designated historic or archaeological features (also known as ‘SHINE’ features)</li>
    <li>registered parks or gardens</li>
    <li>registered battlefields</li>
    <li>scheduled monuments</li>
  </ul>
  <p class="govuk-body">
    If land with historic or archaeological features is ineligible for an action, this only affects the area where the
    feature is located in a land parcel. You can apply for the action on the remaining area in the land parcel if it’s
    eligible.
  </p>

  <h4 class="govuk-heading-s">Request an SFI Historic Environment Farm Environment Record (SFI HEFER)</h4>
  <p class="govuk-body">
    If you apply for FPTT actions on land with historic or archaeological features, you must
    <a href="https://hefer-data.org.uk/" class="govuk-link" rel="noreferrer noopener" target="_blank">
      request an SFI HEFER (opens in new tab)</a
    >
    from Historic England. You must have this in place before the RPA can offer you an FPTT agreement.
  </p>
  <p class="govuk-body">
    For the purposes of the FPTT, you need to have an SFI HEFER. The information in it is still relevant to FPTT
    agreements, even though you are not applying for SFI.
  </p>
  <p class="govuk-body">You will need to register to use the HEFER portal if you have not requested a HEFER before.</p>
  <p class="govuk-body">You cannot use an existing HEFER you may already have for an SFI or CS agreement.</p>
  <p class="govuk-body">The SFI HEFER will tell you about:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>any known historic or archaeological features on your land</li>
    <li>how these features affect the FPTT actions</li>
    <li>any requirements you must follow</li>
  </ul>
  <p class="govuk-body">
    You will receive an email when your SFI HEFER is available to download. This should be within 2 days from when you
    request it.
  </p>
  <p class="govuk-body">
    If your SFI HEFER identifies a scheduled monument, you may need to get consent from Historic England before you do
    your selected FPTT actions on that land. Read section 10.1 ‘Scheduled monument consent’ to find out when you must
    get scheduled monument consent and how to get it.
  </p>

  <h4 class="govuk-heading-s">Soil sampling on eligible land with historic or archaeological features</h4>
  <p class="govuk-body">
    If an FPTT action requires you to take soil samples, where possible, avoid doing this on any area of land with an
    historic or archaeological feature identified on your SFI HEFER.
  </p>
  <p class="govuk-body">
    If you need to take soil samples on an area of land with a SHINE feature, or that’s a registered park or garden, or
    registered battlefield, you should only:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>take enough samples to meet the requirements of the FPTT action</li>
    <li>
      sample to a depth of no more than 7.5 centimetres (cm) on permanent grassland or around 20 to 25cm on arable land
      (including temporary grassland)
    </li>
  </ul>
  <p class="govuk-body">
    You must not take soil samples on any area of land that’s a scheduled monument, unless you have consent to do so
    from Historic England. Read section 10.1 to find out how to get scheduled monument consent.
  </p>

  <h4 class="govuk-heading-s">
    Other activities you should avoid doing on eligible land with historic or archaeological features
  </h4>
  <p class="govuk-body">
    When you do your selected FPTT actions, avoid causing damage to historic or archaeological features. Activities you
    should avoid include:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>growing deep rooted species</li>
    <li>allowing areas of scrub to develop</li>
  </ul>
  <h3 class="govuk-heading-m">5.6 Land that’s conditionally exempt from Inheritance Tax</h3>
  <p class="govuk-body">
    The 4 actions in FPTT are eligible on land that is conditionally exempt from inheritance tax.
  </p>
</section>
