<section id="sec-12-managing-your-FPTT-agreement">
  <h2 class="govuk-heading-l">12. Managing your FPTT agreement</h2>

  <h3 class="govuk-heading-m">12.1 Submit your annual declaration</h3>
  <p class="govuk-body">
    Towards the end of the agreement, you must submit an annual declaration to confirm you have complied, or expect to
    comply, with the terms of your agreement.
  </p>
  <p class="govuk-body">
    You must do this by the date specified by the RPA (the ‘due date’), which will be within the last 2 months of your
    agreement.
  </p>
  <p class="govuk-body">
    Your annual declaration is a simple tick box form. You’ll submit it online using the Rural Payments service. The RPA
    will tell you when it’s ready to complete.
  </p>
  <p class="govuk-body">If you do not submit your annual declaration by the due date, the RPA may:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>delay the fourth instalment of your payment</li>
    <li>regard it as a breach of your agreement</li>
  </ul>
  <p class="govuk-body">If something happens which means you cannot comply with the terms of your agreement:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>you will not be able to submit your annual declaration</li>
    <li>
      you must tell the RPA about what’s happened in writing as soon as possible – read section 13.2: ‘What you must do
      if you cannot comply with your agreement’
    </li>
  </ul>

  <h3 class="govuk-heading-m">12.2 Remove actions or land from your agreement or end it early</h3>
  <p class="govuk-body">
    During the agreement period, you will not usually be able to remove FPTT actions or land from your agreement or end
    it early.
  </p>
  <p class="govuk-body">
    If you want to remove an action or land from your agreement, or end it early, you must email or write to the RPA as
    soon as possible to request this and explain the reason why. Preferably, this should be within 8 weeks of you being
    able to do so.
  </p>
  <p class="govuk-body">
    The RPA will consider your request and may allow it if there’s been a change of circumstances. The RPA will tell you
    what they decide.
  </p>
  <p class="govuk-body">If the RPA approves your request:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>your agreement will be amended or ended early</li>
    <li>you may have to repay some or all of the payments you’ve already received</li>
  </ul>
  <p class="govuk-body">Read section 13.2 on ‘what you must do if you cannot comply with your agreement’.</p>

  <h3 class="govuk-heading-m">12.3 What happens if you transfer land in your agreement to another person</h3>
  <p class="govuk-body">
    You will not usually be able to transfer your agreement to another person if, for example, you transfer land in your
    agreement because:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>you sell it to someone else</li>
    <li>your tenancy on the land ends, and there’s a new tenant</li>
  </ul>
  <p class="govuk-body">
    Instead, you must email or write to the RPA about this as soon as possible. As you’ll no longer have management
    control of the land you’ve transferred, the RPA will need to remove it from your agreement.
  </p>
  <p class="govuk-body">
    You may have to repay some, or all the payments you’ve already received during the agreement if you have not:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>completed your selected FPTT actions</li>
    <li>submitted your annual declaration</li>
  </ul>
  <p class="govuk-body">Unlike previous schemes, the RPA will not apply additional financial ‘penalties’.</p>
  <p class="govuk-body">Read section 13.2 on ‘what you must do if you cannot comply with your agreement’.</p>

  <h3 class="govuk-heading-m">12.4 When the RPA may change your agreement</h3>
  <p class="govuk-body">The RPA will not usually change your FPTT agreement during the agreement period.</p>
  <p class="govuk-body">
    There may be exceptional circumstances which mean the RPA has to change your agreement. For example, changes in the
    law, disease outbreaks or food security emergencies. In this case:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>they will notify you in writing, giving as much notice as possible</li>
    <li>the change will apply from the date specified by the RPA in their notice</li>
    <li>
      if the change is not acceptable to you, you can end your agreement by telling the RPA in writing by the deadline
      they’ll specify in their notice – you will not be required to repay payments you’ve already received
    </li>
  </ul>

  <h3 class="govuk-heading-m">12.5 Temporary adjustments to the actions in your agreement</h3>
  <p class="govuk-body">
    The RPA may identify factors which may temporarily affect your ability to complete the FPTT actions in your
    agreement. This could include, for example, adverse weather conditions, such as flooding or drought.
  </p>
  <p class="govuk-body">
    If this happens, the RPA may make a temporary adjustment to the FPTT actions for a period of time specified by them.
    To do this they will email you as the agreement holder giving you as much notice as possible. This email will
    include:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>hat the temporary adjustment is – including which FPTT actions it affects</li>
    <li>the start and end dates for the temporary adjustment</li>
    <li>the evidence you must keep if you choose to comply with the temporary adjustment</li>
  </ul>
  <p class="govuk-body">
    After the temporary adjustment’s end date, you must complete your selected FPTT actions as if the temporary
    adjustment no longer applies.
  </p>
  <p class="govuk-body">
    You do not have to comply with the temporary adjustment. If you choose to comply with it, you must:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>keep evidence to show how you’ve complied with it</li>
    <li>complete and retain a copy of the prescribed form the RPA emails to you</li>
  </ul>
  <p class="govuk-body">You must supply this evidence if the RPA asks for it.</p>
</section>
