<section id="sec-10-get-all-necessary-regulatory-consents-permissions-and-licences-in-place">
  <h2 class="govuk-heading-l">10. Get all necessary regulatory consents, permissions and licences in place</h2>
  <p class="govuk-body">
    You must comply with all statutory legal requirements that apply to you and your land, even if they conflict with
    your FPTT agreement’s requirements. Read the guidance on
    <a
      href="https://www.gov.uk/guidance/rules-for-farmers-and-land-managers"
      class="govuk-link"
      rel="noreferrer noopener"
      target="_blank"
    >
      ‘Rules for farmers and land managers’(opens in new tab)</a
    >
    for more information.
  </p>
  <p class="govuk-body">
    You must also get any required regulatory consents, permissions and licences before you do your selected actions.
    This section covers the main ones you may need to get. However, it’s your responsibility to check if you need
    consent, permission or a licence and get it, if required, before you do the affected actions.
  </p>

  <h3 class="govuk-heading-m">10.1 Scheduled monument consent</h3>
  <p class="govuk-body">
    A ‘scheduled monument’ is a monument which has been scheduled for its national archaeological or historical
    interest. This means it’s protected by law against:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>ground disturbance</li>
    <li>unlicensed metal detecting</li>
  </ul>
  <p class="govuk-body">
    If your land has a scheduled monument, this will be identified in your SFI HEFER (read section 5.5 ‘Land with
    historic or archaeological features’).
  </p>
  <p class="govuk-body">
    If your selected FPTT actions require activities which will disturb the ground on land with a scheduled monument,
    you must
    <a
      href="https://www.gov.uk/find-licences/scheduled-monument-consent-england-scotland-wales"
      class="govuk-link"
      rel="noreferrer noopener"
      target="_blank"
    >
      get scheduled monument consent from Historic England (opens in new tab)</a
    >. You must do this before you do the affected actions.
  </p>
  <p class="govuk-body">
    If you will be taking soil samples on land with a scheduled monument, you must
    <a
      href="https://www.gov.uk/government/publications/consent-for-soil-sampling-on-scheduled-monuments-sustainable-farming-incentive"
      class="govuk-link"
      rel="noreferrer noopener"
      target="_blank"
    >
      get consent for soil sampling from Historic England (opens in new tab)</a
    >. You must do this before you take soil samples.
  </p>
  <p class="govuk-body">
    For guidance on activities which may affect scheduled monuments, read Historic England’s
    <a
      href="https://historicengland.org.uk/images-books/publications/scheduled-monuments-guide-for-owners-and-occupiers/"
      class="govuk-link"
      rel="noreferrer noopener"
      target="_blank"
      >‘Scheduled monuments – a guide for owners and occupiers’ (opens in new tab)</a
    >.
  </p>

  <h3 class="govuk-heading-m">10.2 Planning permission</h3>
  <p class="govuk-body">
    You may need
    <a
      href="https://www.gov.uk/planning-permissions-for-farms#:~:text=Farms%20are%20covered%20by%20the,from%20farming%20to%20something%20else"
      class="govuk-link"
      rel="noreferrer noopener"
      target="_blank"
      >planning permission (opens in new tab)
    </a>
    if your selected FPTT actions:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>change how you use your land from farming to something else</li>
    <li>
      will be done on land or buildings which are designated as a
      <a
        href="https://www.planningportal.co.uk/services/help/faq/planning/about-the-planning-system/what-is-a-conservation-area"
        class="govuk-link"
        rel="noreferrer noopener"
        target="_blank"
      >
        conservation area (opens in new tab)
      </a>
    </li>
    <li>
      will be done on a listed building – you may also need to apply for
      <a
        href="https://www.planningportal.co.uk/permission/responsibilities/other-permissions-you-may-require/listed-buildings"
        class="govuk-link"
        rel="noreferrer noopener"
        target="_blank"
      >
        listed building consent (opens in new tab)
      </a>
    </li>
  </ul>
  <p class="govuk-body">It’s your responsibility to:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      check with your
      <a
        href="https://www.planningportal.co.uk/find-your-local-planning-authority"
        class="govuk-link"
        rel="noreferrer noopener"
        target="_blank"
      >
        local planning authority (opens in new tab)
      </a>
      or national park authority if you need planning permission
    </li>
    <li>get planning permission, if it’s required, before you do the affected FPTT actions</li>
  </ul>
  <p class="govuk-body">
    Read the guidance on
    <a
      href="https://www.gov.uk/guidance/when-is-permission-required"
      class="govuk-link"
      rel="noreferrer noopener"
      target="_blank"
    >
      when planning permission is required (opens in new tab)
    </a>
    for more information.
  </p>
  <h3 class="govuk-heading-m" id="section-10.3">10.3 SSSI consent</h3>
  <p class="govuk-body">
    An SSSI is a statutory conservation designation made by Natural England. You can find out if your land is an SSSI on
    the
    <a href="https://magic.defra.gov.uk/home.htm" class="govuk-link" rel="noreferrer noopener" target="_blank">
      MAGIC website (opens in new tab)</a
    >.
  </p>
  <p class="govuk-body">
    If you apply for actions on land that’s an SSSI, you must
    <a
      href="https://www.gov.uk/government/publications/request-permission-for-works-or-an-activity-on-an-sssi"
      class="govuk-link"
      rel="noreferrer noopener"
      target="_blank"
    >
      give notice and get consent from Natural England (opens in new tab)</a
    >, unless:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>the action is exempt</li>
    <li>you already have SSSI consent</li>
  </ul>
  <h4 class="govuk-heading-s">Exempt FPTT actions</h4>
  <p class="govuk-body">
    You can do FPTT CMOR1: Assess moorland and produce a written record on SSSI land without getting consent.
  </p>

  <h4 class="govuk-heading-s">Existing SSSI consent</h4>
  <p class="govuk-body">If you already have SSSI consent, you must check that it applies to:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>the area of land entered into the affected FPTT action</li>
    <li>the activities you’ll do to complete the action</li>
    <li>the duration (12 months) of your agreement</li>
  </ul>

  <h4 class="govuk-heading-s">Getting SSSI consent to do the FPTT actions for moorland</h4>
  <p class="govuk-body">Before you apply for certain actions for moorland on SSSI land, you should either:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>speak to Natural England about the activities you’re proposing to do to complete the action</li>
    <li>get other expert advice on managing your SSSI land</li>
  </ul>
  <p class="govuk-body">This will allow you to:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      make sure the activities (including grazing and shepherding, where relevant) are appropriate for the relevant type
      of SSSI habitat and its condition
    </li>
    <li>get an indication of the activities Natural England is likely to give you SSSI consent for</li>
  </ul>
  <p class="govuk-body">This applies to the following FPTT actions for moorland:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>UPL1: Moderate livestock grazing on moorland</li>
    <li>UPL2: Low livestock grazing on moorland</li>
    <li>UPL3: Limited livestock grazing on moorland</li>
  </ul>
  <p class="govuk-body">
    You will need to provide the action details when you complete the form to
    <a
      href="https://www.gov.uk/government/publications/request-permission-for-works-or-an-activity-on-an-sssi"
      class="govuk-link"
      rel="noreferrer noopener"
      target="_blank"
    >
      give notice and get consent from Natural England (opens in new tab)</a
    >. For UPL1, UPL2 or UPL3 this needs to include:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      detailed stocking information – this can be a completed stocking calendar (including stock types and minimum and
      maximum stock numbers) or detailed stocking levels
    </li>
    <li>the location of any mineral licks</li>
    <li>how you will complete shepherding activities (where relevant)</li>
  </ul>
  <p class="govuk-body">
    If you want to change your stocking levels or management activities during the agreement duration
    <a
      href="https://www.gov.uk/guidance/protected-areas-sites-of-special-scientific-interest#check-if-you-need-consent"
      class="govuk-link"
      rel="noreferrer noopener"
      target="_blank"
    >
      check if you need to get additional SSSI consent (opens in new tab)</a
    >. If SSSI consent is:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>required, you must get it from Natural England before you make any changes</li>
    <li>
      not required, you need to tell Natural England about the changes ‘for information only’ by emailing
      <a class="govuk-link" href="mailto:protectedsites@naturalengland.org.uk">
        protectedsites@naturalengland.org.uk
      </a>
    </li>
  </ul>

  <h4 class="govuk-heading-s">When the RPA will offer you an agreement</h4>
  <p class="govuk-body">The RPA will offer you an FPTT agreement when Natural England confirms that either:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>your SSSI consent notice has been received</li>
    <li>you already have SSSI consent</li>
  </ul>
  <p class="govuk-body">If you accept your FPTT agreement offer:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>your agreement can start before you receive SSSI consent from Natural England</li>
    <li>
      you must not do the affected FPTT actions until you receive SSSI consent – if you do, it will be a breach of your
      agreement
    </li>
  </ul>
</section>
