{% extends "layout.html" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block content %}
<div class="govuk-body">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">      
      {% if business and business.land and business.land.parcels %}
        <form method="post" data-actions="{{ actions }}" >
          {% set radioItems = [] %}
          {% set parcelId = landParcel or business.land.parcels[0].parcelId %}

          {% for parcel in business.land.parcels.slice(0,1) %}
            {% set radioItems = radioItems.concat([{
              value: parcel.sheetId + "-" + parcel.parcelId,
              text: parcel.sheetId + "-" + parcel.parcelId + " (Total size: " + parcel.area + " ha.)"
            }]) %}
          {% endfor %}
          
          {% if radioItems.length > 0 %}
            {{ govukRadios({
                name: "landParcel",
                fieldset: {
                  legend: {
                    text: "Select land for your actions",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                  }
                },
                items: radioItems,
                value: parcelId
              }) 
            }}
            
            <div class="govuk-button-group">
              <input type="hidden" name="crumb" value="{{ crumb }}">
              {% block form %}
                  {{ govukButton({
                    text: "Continue",
                    preventDoubleClick: true
                  }) }}
              {% endblock %}
            </div>
          {% else %}
            {{ govukWarningText({
              text: "No land parcels available to select.",
              iconFallbackText: "Warning"
            }) }}
          {% endif %}
        </form>
      {% else %}
        {{ govukWarningText({
          text: "No land data available.",
          iconFallbackText: "Warning"
        }) }}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}