{% extends 'errors/template.njk' %}

{% block pageTitle %}
  Forbidden
{% endblock %}

{% block errorContent %}
  <h1 class="govuk-heading-l">You do not have permission to view this page</h1>
{% endblock %}

{% block preContactContent %}
  <p class="govuk-body">If you think you should have permission:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>contact a person in your business with the correct permission level to update your access</li>
    <li>
      they can read
      <a class="govuk-link" href="https://www.gov.uk/guidance/rural-payments-service-give-or-update-permissions"
        >guidance on giving or updating permissions on the Rural Payments service</a
      >
    </li>
  </ul>
  <h2 class="govuk-heading-m">If you still need help</h2>
  <p class="govuk-body">
    If your business has confirmed you have the correct permission level, contact the Rural Payments Agency (RPA) by
    phone or email for support.
  </p>
{% endblock %}
