{% extends 'errors/template.njk' %}

{% block pageTitle %}
  Application in use
{% endblock %}

{% block errorContent %}

<h1 class="govuk-heading-l">
Another applicant is currently editing this application. You cannot access it until their session ends.
</h1>

<p class="govuk-body">
You will be able to use the service from a later time.
</p>

{% endblock %}
