{% extends 'errors/template.njk' %}

{% block pageTitle %}
  Too many requests
{% endblock %}

{% block errorContent %}
  <h1 class="govuk-heading-l">Too many requests</h1>
  <p class="govuk-body">
    You have made too many requests in a short period of time.
  </p>
  <p class="govuk-body">
    Please wait a moment and try again.
  </p>
{% endblock %}
