{% extends 'layouts/page.njk' %}
{% from "rpa-contact-panel/macro.njk" import appRpaContactPanel %}
{% from "two-thirds-column/macro.njk" import appTwoThirdsColumn %}

{% block pageTitle %}
  Service unavailable
{% endblock %}

{% block content %}
  {% call appTwoThirdsColumn() %}
    {% block errorContent %}
      <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
      <p class="govuk-body">
        Try again later.
      </p>
    {% endblock %}

    {{ appRpaContactPanel({
      introText: "Contact the Rural Payments Agency (RPA) by phone or email for support."
    }) }}
  {% endcall %}
{% endblock %}
