{% extends 'layouts/page.njk' %}

{% block pageTitle %}
  Service unavailable
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% block errorContent %}
        <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
        <p class="govuk-body">
          Try again later.
        </p>
      {% endblock %}

      {% block preContactContent %}
        <p class="govuk-body">
          Contact the Rural Payments Agency (RPA) by phone or email for support.
        </p>
      {% endblock %}

      <p class="govuk-body">
        <span class="govuk-!-display-block">
          Telephone: <a href="tel:02080262395" class="telephone-link" aria-label="Call us on 0208 026 2395">0208 026 2395</a>
        </span>
        <span>Monday to Friday 8:30am to 5pm (excluding bank holidays)</span>
      </p>
      <p class="govuk-body">
        <a href="https://www.gov.uk/call-charges" class="govuk-link" rel="noreferrer noopener" target="_blank">Find out about call charges (opens in a new tab)</a>
      </p>
      <p class="govuk-body">
        Email: <a href="mailto:farmpayments@rpa.gov.uk" class="govuk-link">farmpayments@rpa.gov.uk</a>
      </p>
      <p class="govuk-body">
        The RPA responds to email queries within 10 working days.
      </p>
    </div>
  </div>
{% endblock %}
