{% if params is defined and params.name != null and params.name | length > 0 and params.organisationName != null and params.organisationName | length > 0 %}
  <div class="govuk-width-container">
    <div class="defra-account-bar">
      <div class="govuk-grid-row govuk-!-padding-top-3">
        <div class="govuk-grid-column-two-thirds-from-desktop defra-account-bar__headings govuk-!-margin-bottom-2">
            <span class="govuk-visually-hidden">Acting on behalf of </span>
            {{ params.organisationName }}
            <div class="govuk-!-font-size-16 govuk-!-font-weight-regular govuk-!-margin-top-1">Single business identifier (SBI): {{ params.organisationId }} </div>
        </div>

        <div class="govuk-grid-column-one-third-from-desktop govuk-!-margin-bottom-2 defra-account-bar__headings defra-account-bar__headings--right-aligned">
          <span class="govuk-!-display-block">
            <span class="govuk-visually-hidden">Signed in as </span>
            {{ params.name }}
          </span>
          <a class="govuk-!-font-size-16 govuk-link--no-underline" href="/auth/sign-out">Sign out</a>
        </div>
      </div>
    </div>
  </div>
{% endif %}

