<section id="sec-4-annual-declaration">
  <h2 class="govuk-heading-l">4. Annual Declaration</h2>
  <article>
    <h3 class="govuk-heading-s">4.1 What is the Annual Declaration?</h3>
    <p class="govuk-body">
      Your “Annual Declaration” confirms that you have complied, or expect to have complied, with your obligations under
      the Agreement during the Agreement Period. This is explained in the section about ‘Managing your FPTT agreement’
      in the Farm Payments Rules.
    </p>
  </article>
  <article>
    <h3 class="govuk-heading-s">4.2 When to submit an Annual Declaration</h3>
    <p class="govuk-body">
      You must submit your Annual Declaration to us once during the Agreement Period. You must do this by a date that we
      will specify (the “Due Date”) which will be within the last two (2) months of the Agreement Period.
    </p>
  </article>
  <article>
    <h3 class="govuk-heading-s">4.3 What happens if you do not submit your Annual Declaration</h3>
    <p class="govuk-body">
      If you do not submit your Annual Declaration by the Due Date, it may affect the Grant paid to you as set out in
      condition 7 (Payments), and we may also treat this as a breach of your obligations under the Agreement under
      condition 10.
    </p>
  </article>
</section>
