<section id="sec-17-foi">
  <h2 class="govuk-heading-l">17. Freedom of information (FOI)</h2>
  <h3 class="govuk-heading-s govuk-!-font-weight-regular">
    17.1 You acknowledge that we are subject to the requirements of the Freedom of Information Act 2000 (“FOIA”) and the
    Environmental Information Regulations 2004 (“EIR”).
  </h3>
  <h3 class="govuk-heading-s govuk-!-font-weight-regular">
    17.2 We may need to share information we hold about you or the Agreement so we or Defra can comply with any FOIA and
    EIR request.
  </h3>
  <p class="govuk-body">
    The extent, content and format of the information we disclose is our decision. In making any disclosure, we will
    have due regard to Data Protection Legislation.
  </p>
  <h3 class="govuk-heading-s govuk-!-font-weight-regular">
    17.3 You will provide all necessary assistance and cooperation which we or Defra reasonably request for the purposes
    of complying with our obligations under FOIA and EIR within a time period specified by us. You must tell us as soon
    as reasonably practicable if you receive a FOIA or EIR request intended for us or Defra.
  </h3>
</section>
