<section id="sec-6-change-of-circumstances">
  <h2 class="govuk-heading-l">6. Change of Circumstances</h2>
  <article>
    <h3 class="govuk-heading-s">6.1 What is a Change of Circumstances</h3>
    <p class="govuk-body">
      A “Change of Circumstances” means something happens within or outside your control that might reasonably be
      expected to affect:
    </p>
    <ol class="govuk-list govuk-list--number govuk-!-padding-left-7" style="list-style-type: lower-alpha;">
      <li>your eligibility for the Grant;</li>
      <li>the Grant you should receive;</li>
      <li>your ability to complete the Actions; or</li>
      <li>your ability to comply with these Terms and Conditions.</li>
    </ol>
    <p class="govuk-body">
      This is explained in the section about ‘‘Complying with your FPTT agreement’ in the Farm Payments Rules.
    </p>
  </article>
  <article>
    <h3 class="govuk-heading-s">6.2 Notifying us of a Change of Circumstances</h3>
    <p class="govuk-body">
      If condition 6.1 applies, you must notify us in writing as soon as reasonably practicable and in any event within
      eight (8) weeks of the Change of Circumstances occurring.
    </p>
  </article>
  <article>
    <h3 class="govuk-heading-s">6.3 Action we may take when there is a Change of Circumstances</h3>
    <p class="govuk-body">
      Where you have notified us about a Change of Circumstances, we may take one or more of the following actions:
    </p>
    <ol class="govuk-list govuk-list--number govuk-!-padding-left-7" style="list-style-type: lower-alpha;">
      <li>
        amend, remove or replace a condition subject to which the Grant is given either temporarily or permanently,
        including by varying the area of Agreement Land;
      </li>
      <li>amend, remove or replace the Actions or timescales either temporarily or permanently;</li>
      <li>reduce the Grant either temporarily or permanently;</li>
      <li>require you to repay some or all of the Grant already paid to you; and/or</li>
      <li>terminate the Agreement before the Agreement End Date.</li>
    </ol>
  </article>
  <article>
    <h3 class="govuk-heading-s">6.4 When we will notify you of our decision</h3>
    <p class="govuk-body">
      We will notify you within a reasonable period of our “Decision” to take any of the actions under condition 6.3 and
      the reasons for it. At the same time, we will remind you of your rights to request a reconsideration under
      condition 12 (Reconsideration of Decisions and Determinations).
    </p>
  </article>
</section>
