<section id="sec-18-records">
  <h2 class="govuk-heading-l">18. What accounts and records you must keep</h2>
  <h3 class="govuk-heading-s govuk-!-font-weight-regular">
    18.1 You must keep all invoices, receipts, accounts and any other relevant documents relating directly to the
    expenditure of the Grant and evidence of your compliance with your obligations under the Agreement (“Records”).
  </h3>
  <p class="govuk-body">The Records include evidence you must keep as explained in each Action.</p>
  <h3 class="govuk-heading-s govuk-!-font-weight-regular">
    18.2 You must keep your Records for a period of at least seven (7) years from termination of the Agreement or the
    Agreement End Date.
  </h3>
  <h3 class="govuk-heading-s govuk-!-font-weight-regular">
    18.3 You must prepare and keep your Records in compliance with applicable Law and must provide assistance to us when
    we are auditing or examining these so as to help us carry out our legal obligations.
  </h3>
  <article>
    <h3 class="govuk-heading-s govuk-!-font-weight-regular">18.4 We have the right to:</h3>
    <ol class="govuk-list govuk-list--number govuk-!-padding-left-7" style="list-style-type: lower-alpha;">
      <li>request you to provide your Records to us;</li>
      <li>review your Records; and/or</li>
      <li>take copies of such Records.</li>
    </ol>
  </article>
  <h3 class="govuk-heading-s govuk-!-font-weight-regular">
    18.5 You must provide your Records to us upon request. In addition, you shall provide the Records to any other duly
    authorised public authority (or their authorised representatives or auditors) upon request.
  </h3>
</section>
