<section id="sec-9-checking-compliance">
  <h2 class="govuk-heading-l">9. Checking you are complying with your Agreement</h2>
  <article>
    <h3 class="govuk-heading-s">9.1 What we may check</h3>
    <p class="govuk-body">We may check your compliance with the obligations under the Agreement, including that:</p>
    <ol class="govuk-list govuk-list--number govuk-!-padding-left-7" style="list-style-type: lower-alpha;">
      <li>you are complying with these Terms and Conditions; and/or</li>
      <li>
        you have completed what is required in each of your selected Actions in a way that could reasonably be expected
        to achieve their aims.
      </li>
    </ol>
  </article>
  <article>
    <h3 class="govuk-heading-s">9.2 How we will check you are complying with your obligations under the Agreement</h3>
    <p class="govuk-body">
      We will check you are complying with the obligations under the Agreement through a combination of physical and
      virtual site visits, remote monitoring, and desk-based administrative checks. To help us do this, you must:
    </p>
    <ol class="govuk-list govuk-list--number govuk-!-padding-left-7" style="list-style-type: lower-alpha;">
      <li>
        for virtual or physical site visits:
        <ol class="govuk-list govuk-list--number govuk-!-padding-left-7" style="list-style-type: lower-roman;">
          <li>
            allow a person authorised by us to carry out site visits and exercise powers of entry under the Regulations
            (‘Authorised Person’) access to any Agreement Land, premises, livestock, trees, crops, plants, machinery,
            equipment, documents or records (or any related apparatus) covered by the Agreement. The Authorised Person
            may be accompanied by such other persons as they consider necessary; and
          </li>
          <li>provide any assistance reasonably requested by an Authorised Person.</li>
        </ol>
      </li>
      <li>
        disclose all information or evidence that we may require to verify your continued eligibility for and compliance
        with the obligations under the Agreement.
      </li>
    </ol>
    <p class="govuk-body">
      The section about ‘Complying with your FPTT agreement’ in the Farm Payments Rules explains how we will check
      delivery of your obligations under the Agreement.
    </p>
  </article>
  <article>
    <h3 class="govuk-heading-s">9.3 How much notice we will give you of a site visit</h3>
    <p class="govuk-body">
      We will endeavour to agree a suitable date and time for the site visit with you. Where it is not possible to agree
      a suitable date and time, we will notify you in writing of the purpose of the site visit and the date and time at
      least forty-eight (48) hours in advance of the site visit.
      <a
        class="govuk-link"
        rel="noreferrer noopener"
        target="_blank"
        href="https://www.legislation.gov.uk/ukdsi/2021/9780348220667#regulation-17"
        >Regulation 17 of the Regulations (opens in new tab)</a
      >
      allows us to access your land at any reasonable hour without notice if, for example, we have a reasonable
      suspicion that you have committed a serious breach, fraud or any other related offence.
    </p>
  </article>
  <article>
    <h3 class="govuk-heading-s">9.4 What we may do during a site visit</h3>
    <p class="govuk-body">
      <a
        class="govuk-link"
        rel="noreferrer noopener"
        target="_blank"
        href="https://www.legislation.gov.uk/ukdsi/2021/9780348220667#regulation-18"
      >
        Regulation 18 of the Regulations (opens in new tab)
      </a>
      explains what an Authorised Person can do during a site visit.
    </p>
  </article>
</section>
