<section id="sec-13-termination">
  <h2 class="govuk-heading-l">13. Termination of an Agreement</h2>
  <article>
    <h3 class="govuk-heading-s">13.1 When we may terminate your Agreement</h3>
    <ol class="govuk-list govuk-list--number govuk-!-padding-left-7" style="list-style-type: lower-alpha;">
      <li>
        We may terminate the Agreement before the Agreement End Date on written notice to you without compensation and
        with immediate effect if:
        <ol class="govuk-list govuk-list--number govuk-!-padding-left-7" style="list-style-type: lower-roman;">
          <li>you were not eligible to enter the Agreement or receive the Grant;</li>
          <li>
            there has been a Change of Circumstances under condition 6 meaning you are no longer eligible to receive the
            Grant;
          </li>
          <li>we have made a Determination that a breach has occurred in accordance with condition 10;</li>
          <li>you have not repaid to us a sum that has become recoverable pursuant to condition 10 or condition 8.</li>
        </ol>
      </li>
      <li>
        In addition to our right to terminate under condition 13.1(a), we may terminate the Agreement at any time on
        giving at least three (3) months’ written notice to you.
      </li>
    </ol>
  </article>
  <article>
    <h3 class="govuk-heading-s">13.2 What happens if we terminate your Agreement</h3>
    <ol class="govuk-list govuk-list--number govuk-!-padding-left-7" style="list-style-type: lower-alpha;">
      <li>
        Where we terminate the Agreement under condition 13.1(a), you may be required to repay some or all of the Grant
        already paid to you.
      </li>
      <li>
        Where we terminate the Agreement under condition 13.1(b), you will be able to keep the Grant already paid to you
        and we will also pay to you the next scheduled quarterly instalment of the Grant which would have been payable
        by us but for the termination, provided that you are not in breach of the Agreement and have submitted the
        Annual Declaration.
      </li>
    </ol>
  </article>
  <article>
    <h3 class="govuk-heading-s">13.3 What happens if you want to terminate your Agreement</h3>
    <ol class="govuk-list govuk-list--number govuk-!-padding-left-7" style="list-style-type: lower-alpha;">
      <li>We will not usually allow you to terminate your Agreement before the Agreement End Date.</li>
      <li>
        If you want to terminate your Agreement before the Agreement End Date, you must write to us to request this and
        explain (providing supporting evidence) why you wish to do so.
      </li>
      <li>
        We will consider requests under condition 13.3 on a case-by-case basis and may allow the request if there is a
        Change of Circumstances (condition 6). We will inform you of our decision within a reasonable time period.
      </li>
      <li>
        If we agree to terminate your Agreement before the Agreement End Date, you may be required to repay all or part
        of the Grant, and you will remain bound by the relevant obligations under the Agreement until you make this
        repayment.
      </li>
      <li>Condition 13.3(d) does not apply to condition 5.2 except as set out in condition 5.2(c)(iii).</li>
    </ol>
  </article>
  <article>
    <h3 class="govuk-heading-s govuk-!-font-weight-regular">
      13.4 This Agreement will automatically terminate in the event of your death if you have entered this Agreement in
      your own name as an individual.
    </h3>
  </article>
</section>
