<section id="sec-7-payments">
  <h2 class="govuk-heading-l">7. Payments</h2>
  <article>
    <h3 class="govuk-heading-s">7.1 Frequency of payments</h3>
    <p class="govuk-body">
      The total Grant is divided into four (4) quarterly instalments. The first instalment of the Grant will usually be
      made in the fourth (4th) month after the Agreement Start Date if you have complied with the obligations under the
      Agreement and shall continue on this basis. This is explained under the section about ‘When and how much you’ll
      get paid’ in the Farm Payment Rules.
    </p>
  </article>
  <article>
    <h3 class="govuk-heading-s">7.2 Where payments will be made</h3>
    <p class="govuk-body">
      We will pay the Grant directly to your bank or building society account that is registered with us via BACS
      transfer, subject to the necessary funds being available when the payment falls due.
    </p>
  </article>
  <article>
    <h3 class="govuk-heading-s">7.3 When payments may be delayed, reduced, recovered or withheld</h3>
    <p class="govuk-body">
      We may delay, reduce, recover or withhold the payment of the Grant in whole or in part if you do not submit the
      Annual Declaration required under condition 4; and/or you breach your Agreement under condition 10.
    </p>
  </article>
  <article>
    <h3 class="govuk-heading-s">7.4 Variation of payment rates</h3>
    <ol class="govuk-list govuk-list--number govuk-!-padding-left-7" style="list-style-type: lower-alpha;">
      <li>
        As stated in the Farm Payments Information we do not expect to vary the Grant during the Agreement Period.
      </li>
      <li>
        However, we reserve the right, under exceptional circumstances not referred to elsewhere in these Terms and
        Conditions, to vary the Grant during the Agreement Period, in accordance with condition 5.2.
      </li>
    </ol>
  </article>
</section>
