<section id="sec-11-good-reasons">
  <h2 class="govuk-heading-l">11. Good reasons for a breach</h2>
  <article>
    <h3 class="govuk-heading-s">11.1 What are good reasons for a breach</h3>
    <p class="govuk-body">
      We understand that there may be circumstances (a “Good Reason”) where you are in breach of the obligations under
      the Agreement because of events outside of your control.
    </p>
    <ol class="govuk-list govuk-list--number govuk-!-padding-left-7" style="list-style-type: lower-alpha;">
      <li>
        A Good Reason for a breach of the Agreement includes, but is not limited to:
        <ol class="govuk-list govuk-list--number govuk-!-padding-left-7" style="list-style-type: lower-roman;">
          <li>natural events, such as prolonged adverse weather conditions, flooding, or animal or plant disease;</li>
          <li>if you are seriously ill;</li>
          <li>if you die;</li>
          <li>
            if there is unforeseen loss of Management Control of the Agreement Land, for example when a tenancy is
            terminated, or because of the compulsory purchase of land by a third party;
          </li>
          <li>financial circumstances, such as bankruptcy;</li>
          <li>evidenced supply chain problems, such as a lack of soil testing capacity; and</li>
          <li>criminal damage by a third party, such as arson or vandalism.</li>
        </ol>
      </li>
      <li>
        We explain what good reasons for a breach could include in the section about ‘Complying with your FPTT
        agreement’ in the Farm Payments Rules.
      </li>
    </ol>
  </article>
  <article>
    <h3 class="govuk-heading-s">11.2 Notifying us about a good reason for a breach</h3>
    <ol class="govuk-list govuk-list--number govuk-!-padding-left-7" style="list-style-type: lower-alpha;">
      <li>
        If condition 11.1 applies, you (or any person authorised to act for you) must notify us in writing to explain
        the Good Reason.
      </li>
      <li>
        If the Good Reason relates to a breach of the Agreement under condition 10.2(h), condition 10.2(i) or condition
        10.2(j), you must notify us in writing immediately.
      </li>
      <li>
        In all other cases, you must notify us in writing within eight (8) weeks from:
        <ol class="govuk-list govuk-list--number govuk-!-padding-left-7" style="list-style-type: lower-roman;">
          <li>the date you are able to; or</li>
          <li>the date we notify you of the Determination on the breach of the Agreement.</li>
        </ol>
      </li>
    </ol>
  </article>
</section>
