<section id="sec-10-breach">
  <h2 class="govuk-heading-l">10. A breach of your Agreement</h2>
  <article>
    <h3 class="govuk-heading-s">10.1 What happens if we suspect there may have been a breach of your Agreement</h3>
    <ol class="govuk-list govuk-list--number govuk-!-padding-left-7" style="list-style-type: lower-alpha;">
      <li>
        Where we reasonably suspect you have breached the Agreement, we will carry out a proportionate investigation. We
        explain what happens if we suspect a breach of the Agreement in the section about ‘Complying with your FPTT
        agreement’ in the Farm Payments Rules.
      </li>
      <li>
        If we reasonably suspect you have breached the Agreement, we may withhold the Grant until such investigation is
        concluded, however we will not usually do this.
      </li>
      <li>
        We will inform you of the outcome of the investigation carried out under condition 10.1(a) within a reasonable
        period.
      </li>
    </ol>
  </article>
  <article>
    <h3 class="govuk-heading-s">10.2 How you could breach your Agreement</h3>
    <p class="govuk-body">
      After we carry out a proportionate investigation, we may make a “Determination” that you have breached the
      Agreement if any of the following applies:
    </p>
    <ol class="govuk-list govuk-list--number govuk-!-padding-left-7" style="list-style-type: lower-alpha;">
      <li>you have not notified us of a Change of Circumstances under condition 6;</li>
      <li>you have, at any time, given us false or misleading information;</li>
      <li>you have used the Grant for a purpose that is not in accordance with the Agreement;</li>
      <li>you have used the Grant for activities that breach any Law with which you are required to comply;</li>
      <li>you have failed to comply with the terms of your Agreement;</li>
      <li>
        you have breached any requirement to which you are subject under the Agriculture (Financial Assistance)
        Regulations 2021;
      </li>
      <li>you have failed to provide information, records or evidence required under condition 18;</li>
      <li>
        you have prevented an Authorised Person from carrying out a virtual or physical site visit of the Agreement
        Land;
      </li>
      <li>
        you have refused to provide assistance reasonably requested by an Authorised Person carrying out a virtual or
        physical site visit of the Agreement Land;
      </li>
      <li>you have otherwise obstructed a virtual or physical site visit of the Agreement Land; or</li>
      <li>you have failed to prevent or report actual or anticipated fraud or corruption in relation to the Grant.</li>
    </ol>
  </article>
  <article>
    <h3 class="govuk-heading-s">10.3 A breach caused by your employees or agents</h3>
    <p class="govuk-body">
      The circumstances described in condition 10.2(b) to condition 10.2(j) apply, where appropriate, to any action
      taken by your employees or agents.
    </p>
  </article>
  <article>
    <h3 class="govuk-heading-s">10.4 What happens if we determine there has been a breach</h3>
    <p class="govuk-body">
      If we make a Determination that you have breached the Agreement, we will write to inform you of this within a
      reasonable period. We will give you the reasons for this Determination. We will then decide what action needs to
      be taken, if any. We explain what happens if we determine you have breached the Agreement in the section ‘13.
      Complying with your FPTT agreement’ in the Farm Payments Rules. You may respond to any Determination in accordance
      with condition 12.
    </p>
  </article>
  <article>
    <h3 class="govuk-heading-s">10.5 Actions we may take if you breach your Agreement</h3>
    <ol class="govuk-list govuk-list--number govuk-!-padding-left-7" style="list-style-type: lower-alpha;">
      <li>
        There are no set actions for particular breaches of the Agreement, and we will assess all the circumstances of a
        breach in a fair and consistent manner, on a case-by-case basis and take the action(s) we think is/are
        appropriate. This is explained in the section about ‘Complying with your FPTT agreement’ in the Farm Payments
        Rules.
      </li>
      <li>
        If we make a Determination that you have breached the Agreement, we may take any of the following actions:
        <ol class="govuk-list govuk-list--number govuk-!-padding-left-7" style="list-style-type: lower-roman;">
          <li>allow you to rectify the breach;</li>
          <li>issue you with a warning letter;</li>
          <li>
            amend, remove or replace a condition subject to which the Grant is given either temporarily or permanently;
          </li>
          <li>amend, remove or replace the Actions or timescales either temporarily or permanently;</li>
          <li>delay, reduce, recover or withhold payment or require repayment of all or part of the Grant;</li>
          <li>terminate the Agreement before the Agreement End Date; and/or</li>
          <li>
            prohibit you from receiving financial assistance from other financial assistance schemes under the
            Agriculture Act 2020 for a period of up to two (2) years from the day after we notify you of the
            Determination on the breach.
          </li>
        </ol>
      </li>
    </ol>
  </article>
  <article>
    <h3 class="govuk-heading-s">10.6 Repayment if there has been a breach</h3>
    <p class="govuk-body">
      If we require you to repay all or part of the Grant under condition 10.5(b)(v), then you must do so within sixty
      (60) days of the date of our demand for repayment. If you fail to repay the requested amount within sixty (60)
      days of our demand, then that sum will be recoverable as a civil debt with interest. Our right to recover under
      condition 10.5(b)(v) extends to the whole of the Grant paid to you.
    </p>
  </article>
</section>
