<section id="sec-19-publish-info">
  <h2 class="govuk-heading-l">19. What information we may publish about you</h2>
  <h3 class="govuk-heading-s govuk-!-font-weight-regular">
    19.1 We are required by Law to publish certain specified information about agreement holders who have received
    relevant Grant payments.
  </h3>
  <h3 class="govuk-heading-s govuk-!-font-weight-regular">
    19.2 Condition 19.1 only applies if you have received a total value of relevant payments (as defined in the
    Regulations) equal to or more than £1,250 in the relevant financial year.
  </h3>
  <h3 class="govuk-heading-s govuk-!-font-weight-regular">19.3 The specified information shall:</h3>
  <ol class="govuk-list govuk-list--number govuk-!-padding-left-7" style="list-style-type: lower-alpha;">
    <li>
      be published on a searchable database available at
      <a
        class="govuk-link"
        rel="noreferrer noopener"
        target="_blank"
        href="https://find-farm-and-land-payment-data.defra.gov.uk/"
        >https://find-farm-and-land-payment-data.defra.gov.uk/</a
      >; and
    </li>
    <li>remain on that searchable database for three (3) years from initial publication.</li>
  </ol>
  <h3 class="govuk-heading-s govuk-!-font-weight-regular">
    19.4 If condition 19.1 applies to your Grant, we will publish the following specified information:
  </h3>
  <ol class="govuk-list govuk-list--number govuk-!-padding-left-7" style="list-style-type: lower-alpha;">
    <li>your full name;</li>
    <li>
      the post town, and post code area and district where:
      <ol class="govuk-list govuk-list--number govuk-!-padding-left-7" style="list-style-type: lower-roman;">
        <li>you are resident, if you are a natural person;</li>
        <li>your registered office is located, if you are incorporated (for example, a company); or</li>
        <li>your primary base of business is located, if you are unincorporated (for example, a sole trader);</li>
      </ol>
    </li>
    <li>the total Grant payments received by you in the relevant financial year; and</li>
    <li>a description of the activities financed by the Grant payments.</li>
  </ol>
</section>
