<section id="sec-definitions">
  <h2 class="govuk-heading-l">
    Definition of terms used in the Farm Payments Technical Test agreement terms and conditions
  </h2>
  <p class="govuk-body">
    Capitalised terms used in these Terms and Conditions have specific meanings which are described below:
  </p>
  <dl class="defra-terms_and_conditions_definitions">
    <div>
      <dt>Actions:</dt>
      <dd>the Farm Payments Technical Test actions you have selected.</dd>
    </div>
    <div>
      <dt>Action Start Date:</dt>
      <dd>the date on which the relevant Action commences, as set out in the Agreement Document.</dd>
    </div>
    <div>
      <dt>Agreement:</dt>
      <dd>
        the Farms Payments Technical Test agreement consisting of the Agreement Document, these Terms and Conditions,
        and the Actions you have selected.
      </dd>
    </div>
    <div>
      <dt>Agreement Document:</dt>
      <dd>
        the document accompanying these Terms and Conditions, which describes the Grant to be paid to you for delivering
        the selected Action(s) you have selected.
      </dd>
    </div>
    <div>
      <dt>Agreement End Date:</dt>
      <dd>means the date on which the Agreement Period ends, as shown in your Agreement Document.</dd>
    </div>
    <div>
      <dt>Agreement Land:</dt>
      <dd>the land parcels described in the Agreement Document.</dd>
    </div>
    <div>
      <dt>Agreement Period:</dt>
      <dd>has the meaning given to it in condition 2.4(a).</dd>
    </div>
    <div>
      <dt>Agreement Start Date:</dt>
      <dd>
        the date the Agreement commences, as shown in your Agreement Document. This will always be the first day of the
        calendar month following acceptance of the Farm Payments Technical Test offer.
      </dd>
    </div>
    <div>
      <dt>Annual Declaration:</dt>
      <dd>
        a declaration confirming that you have complied, or expect to have complied, with your obligations under the
        Agreement.
      </dd>
    </div>
    <div>
      <dt>Authorised Person:</dt>
      <dd>
        a person authorised by us to carry out site visits and exercise powers of entry under the Regulations. Change of
        Circumstances: means something happens within or outside your control that might reasonably be expected to
        affect:
        <ol class="govuk-list govuk-list--number govuk-!-padding-left-7" style="list-style-type: lower-alpha;">
          <li>your eligibility for the Grant;</li>
          <li>the Grant you should receive;</li>
          <li>your ability to complete the Actions; or</li>
          <li>your ability to comply with these Terms and Conditions.</li>
        </ol>
      </dd>
    </div>
    <div>
      <dt>Change of Circumstances:</dt>

      <dd>
        means something happens within or outside your control that might reasonably be expected to affect:
        <ol class="govuk-list govuk-list--number govuk-!-padding-left-7" style="list-style-type: lower-alpha;">
          <li>your eligibility for the Grant;</li>
          <li>the Grant you should receive;</li>
          <li>your ability to complete the Actions; or</li>
          <li>your ability to comply with these Terms and Conditions.</li>
        </ol>
      </dd>
    </div>
    <div>
      <dt>Data Protection Legislation:</dt>
      <dd>
        This means:
        <ol class="govuk-list govuk-list--number govuk-!-padding-left-7" style="list-style-type: lower-alpha;">
          <li>the UK GDPR;</li>
          <li>
            the Data Protection Act 2018 to the extent that it relates to processing of personal data and privacy;
          </li>
          <li>all applicable Law about the processing of personal data and privacy.</li>
        </ol>
      </dd>
    </div>
    <div>
      <dt>Decision:</dt>
      <dd>our decision following notification to us of a Change of Circumstances.</dd>
    </div>
    <div>
      <dt>Defra:</dt>
      <dd>Department for Environment, Food and Rural Affairs.</dd>
    </div>
    <div>
      <dt>Determination:</dt>
      <dd>our determination following a breach by you of the Agreement.</dd>
    </div>
    <div>
      <dt>Due Date:</dt>
      <dt>the date by which you must submit your Annual Declaration.</dt>
    </div>
    <div>
      <dt>EIR:</dt>
      <dd>Environmental Information Regulations 2004.</dd>
    </div>
    <div>
      <dt>Farm Payments Information:</dt>
      <dd>
        information we have published in relation to the Farm Payments Technical Test which includes:
        <ol class="govuk-list govuk-list--number govuk-!-padding-left-7" style="list-style-type: lower-alpha;">
          <li>the Actions;</li>
          <li>the Farm Payments Rules; and</li>
          <li>
            other Farm Payments Technical Test information and guidance which is there to help you, but you do not have
            to follow.
          </li>
        </ol>
      </dd>
    </div>
    <div>
      <dt>Farm Payments Technical Test:</dt>
      <dd>the small-scale technical test of early versions of core features of the future Farm and Land Service.</dd>
    </div>
    <div>
      <dt>Farm Payments Rules:</dt>
      <dd>
        the rules in the farm payment technical test information comprised within the Farm Payments Information that
        further explain the mandatory requirements of your Agreement.
      </dd>
    </div>
    <div>
      <dt>FOIA:</dt>
      <dd>Freedom of Information Act 2000.</dd>
    </div>
    <div>
      <dt>Grant:</dt>
      <dd>the sum to be paid to you for delivering the Actions, as described in the Agreement Document.</dd>
    </div>
    <div>
      <dt>Law:</dt>
      <dd>
        any law, statute, subordinate legislation within the meaning of Section 21(1) of the Interpretation Act 1978,
        bye-law, right within the meaning of Section 4(1) EU Withdrawal Act 2018 as amended by EU (Withdrawal Agreement)
        Act 2020, regulation, order, regulatory policy, mandatory guidance or code of practice, judgement of a relevant
        court of law, or directives or requirements of any regulatory body with which you are required to complete
        comply.
      </dd>
    </div>
    <div>
      <dt>Management Control:</dt>
      <dd>
        having sufficient control over how the Agreement Land is managed to complete the Actions you have selected for
        the duration of the Agreement Period.
      </dd>
    </div>
    <div>
      <dt>Regulations:</dt>
      <dd>the Agriculture (Financial Assistance) Regulations 2021, as amended.</dd>
    </div>
    <div>
      <dt>UK GDPR:</dt>
      <dd>
        the retained EU law version of the General Data Protection Regulation (Regulation (EU) 2016/679), as transferred
        into UK Law by the Data Protection, Privacy and Electronic Communications (Amendments etc) (EU Exit (Regulations
        (SI 419/2019) and any applicable national implementing Laws as amended from time to time.
      </dd>
    </div>
  </dl>
</section>
