<section id="sec-14-consequences">
  <h2 class="govuk-heading-l">14. Consequences of expiry or termination of your Agreement</h2>

  <h3 class="govuk-heading-s govuk-!-font-weight-regular">
    14.1 If we or you terminate the Agreement, or the Agreement expires on the Agreement End Date, this will not affect
    the rights, remedies, obligations or liabilities that either of us have accrued up to the point of termination or
    the Agreement End Date.
  </h3>
  <h3 class="govuk-heading-s govuk-!-font-weight-regular">
    14.2 Termination or expiry of the Agreement will not affect our or your continuing rights and obligations under any
    condition in the Agreement which is intended to continue beyond the Agreement Period. This includes our obligation
    to pay the final quarterly instalment of the Grant provided that you have submitted your Annual Declaration and have
    not breached your Agreement.
  </h3>
</section>
