<section id="sec-15-ip">
  <h2 class="govuk-heading-l">15. Intellectual property rights</h2>
  <h3 class="govuk-heading-s govuk-!-font-weight-regular">
    15.1 We do not anticipate that any new intellectual property rights will be created by these arrangements but if any
    intellectual property rights are created (for example in assessments, plans and data generated in relation to this
    Agreement) then these will be owned by the party who created it. We may need to use any intellectual property
    created by you for the purposes of the Agreement and you hereby grant us a perpetual, non-exclusive, royalty free
    licence to do so for use in connection with the Agreement.
  </h3>
</section>
