<section id="sec-8-undue-payments">
  <h2 class="govuk-heading-l">8. Undue payments or overpayments</h2>
  <article>
    <h3 class="govuk-heading-s">8.1 Undue payments or overpayments</h3>
    <p class="govuk-body">
      It is your responsibility to check all the payments of the Grant we make to you and to notify us within two (2)
      weeks of you becoming aware if you have any reason to believe an error has occurred. You must repay any
      overpayment or payment of the Grant to which you are not entitled (including due to our administrative error).
    </p>
  </article>
  <article>
    <h3 class="govuk-heading-s">8.2 When a repayment must be made</h3>
    <p class="govuk-body">
      Any sum that becomes repayable under condition 8.1 will be treated as a debt by you to us and if it is not repaid
      we may issue a recovery order in respect of it.
    </p>
  </article>
</section>
