<section id="sec-12-reconsideration">
  <h2 class="govuk-heading-l">12. Reconsideration of Decisions and Determinations</h2>
  <article>
    <h3 class="govuk-heading-s">12.1 How to ask us to reconsider a Decision or Determination</h3>
    <p class="govuk-body">
      If you would like us to reconsider any Decision (for a Change of Circumstances under condition 6) or Determination
      (for a breach of the Agreement under condition 10) that we have made, you must use our complaints procedure (a
      copy of which has been provided to you) to ask for it to be reconsidered.
    </p>
  </article>
  <article>
    <h3 class="govuk-heading-s">12.2 When to ask us to reconsider a Decision or Determination</h3>
    <p class="govuk-body">
      You must ask us to reconsider any Decision or Determination within sixty (60) calendar days of the date you are
      notified about our Decision or Determination.
    </p>
  </article>
  <article>
    <h3 class="govuk-heading-s">12.3 How we will reconsider a Decision or Determination</h3>
    <p class="govuk-body">
      We will consider your request to reconsider our Decision or Determination carefully, including any information or
      evidence you have provided to us. We will confirm the outcome of our reconsideration, with reasons, in writing
      within a reasonable period.
    </p>
  </article>
  <article>
    <h3 class="govuk-heading-s">12.4. How to appeal the outcome of a reconsideration</h3>
    <p class="govuk-body">
      You may appeal the outcome of our reconsideration of our Decision or Determination within sixty (60) calendar days
      of the date you are notified of that outcome where you believe the outcome of our reconsideration:
    </p>
    <ol class="govuk-list govuk-list--number govuk-!-padding-left-7" style="list-style-type: lower-alpha;">
      <li>was based on an error of fact;</li>
      <li>was wrong in Law; or</li>
      <li>there has been a material procedural error.</li>
    </ol>
  </article>
  <article>
    <h3 class="govuk-heading-s">12.5 When we will confirm the outcome of your appeal</h3>
    <p class="govuk-body">
      We will confirm the outcome of your appeal under condition 12.4 within a reasonable period in writing explaining
      the reasons for this outcome, and this will be our final determination.
    </p>
  </article>
</section>
