<section id="sec-2-about-your-agreement">
  <h2 class="govuk-heading-l">2. About your Agreement</h2>
  <article>
    <h3 class="govuk-heading-s">2.1 Your Agreement</h3>
    <p class="govuk-body">The Agreement comprises:</p>
    <ol class="govuk-list govuk-list--number govuk-!-padding-left-7" style="list-style-type: lower-alpha;">
      <li>the Agreement Document, including any documents referenced in the Agreement Document;</li>
      <li>
        these Terms and Conditions (which are further explained in the Farm Payments Rules as explained in condition
        1.5(b)); and
      </li>
      <li>the Actions you have selected.</li>
    </ol>
  </article>

  <article>
    <h3 class="govuk-heading-s">2.2 What you are declaring</h3>
    <p class="govuk-body">By entering the Agreement you confirm that:</p>
    <ol class="govuk-list govuk-list--number govuk-!-padding-left-7" style="list-style-type: lower-alpha;">
      <li>
        the declarations you made in your Farm Payments Technical Test application for the Grant remain true and
        accurate to the best of your knowledge and belief;
      </li>
      <li>you have full capacity and authority to enter into the Agreement;</li>
      <li>
        you are not aware of any circumstances which would render you ineligible for the Grant or otherwise prevent you
        from complying with your obligations under the Agreement;
      </li>
      <li>
        your obligations under the Agreement do not and will not conflict in whole or in part with any other legal or
        contractual obligations you are subject to; and
      </li>
      <li>
        you will at all times comply with all relevant Law in the performance of your obligations under the Agreement.
      </li>
    </ol>
  </article>

  <article>
    <h3 class="govuk-heading-s">2.3 What you are agreeing to do</h3>
    <p class="govuk-body">In applying for and receiving the Grant, you are agreeing to:</p>
    <ol class="govuk-list govuk-list--number govuk-!-padding-left-7" style="list-style-type: lower-alpha;">
      <li>
        use the Grant to complete your selected Actions (and for associated administrative costs), as referenced in your
        Agreement Document and supplemented by the Farm Payments Information;
      </li>
      <li>comply with these Terms and Conditions; and</li>
      <li>
        obtain, maintain and comply with any permits, licences, permissions, consents, approvals, certificates and
        authorisations (whether statutory or otherwise) ("Permissions") which are required:
        <ol type="i">
          <li>to comply with the obligations under the Agreement; and</li>
          <li>
            for the protection of ancient monuments, archaeological sites, heritage sites, trees, historical sites on
            the Agreement Land and Sites of Special Scientific Interest (SSSIs). In relation to SSSIs and scheduled
            monuments, you are not required to have any required Permissions prior to the Agreement Start Date but you
            must not undertake any Actions until it has been received from the relevant authority.
          </li>
        </ol>
      </li>
    </ol>
  </article>

  <article>
    <h3 class="govuk-heading-s">2.4 Agreement Period</h3>
    <ol class="govuk-list govuk-list--number govuk-!-padding-left-7" style="list-style-type: lower-alpha;">
      <li>
        The Agreement is for a period of 12 months from the Agreement Start Date unless terminated earlier under
        condition 13 (Termination of an Agreement) (the “Agreement Period”). The Agreement Start Date is shown in your
        Agreement Document.
      </li>
    </ol>
  </article>

  <article>
    <h3 class="govuk-heading-s">2.5 This Agreement does not replace the need for regulatory consents</h3>
    <p class="govuk-body">You understand that the Agreement does not operate as:</p>
    <ol class="govuk-list govuk-list--number govuk-!-padding-left-7" style="list-style-type: lower-alpha;">
      <li>
        an SSSI consent. If such consent is required you must apply separately in accordance with any instructions
        provided by Natural England;
      </li>
      <li>
        a scheduled monument consent of the Ancient Monuments and Archaeological Areas Act 1979 (or other consent under
        that Act). If such consent is required you must apply separately in accordance with any instructions provided by
        Historic England. You will obtain and take account of the SFI HEFER consultation response for all the land and
        features in connection to this Agreement; or
      </li>
      <li>any other regulatory consent required by the Law.</li>
    </ol>
  </article>
</section>
