<section id="sec-20-other-terms">
  <h2 class="govuk-heading-l">20. Other Terms</h2>
  <article>
    <h3 class="govuk-heading-s">20.1 We may transfer the Agreement to another public organisation</h3>
    <p class="govuk-body">
      We may transfer our rights and obligations to another Government body. We will tell you in writing if this happens
      and we will ensure that the transfer will not affect your rights under the Agreement.
    </p>
  </article>
  <article>
    <h3 class="govuk-heading-s">20.2 Third party rights under this Agreement</h3>
    <p class="govuk-body">
      The Agreement is between you and us. No other person shall have any rights to enforce any of its terms, however,
      the terms of the Agreement and our rights under it may be enforced by Defra. You may authorise someone else (such
      as an agent) to act on your behalf but you are liable for all their actions and omissions.
    </p>
  </article>
  <article>
    <h3 class="govuk-heading-s">
      20.3 If a court finds part of the Agreement illegal, the rest will continue in force
    </h3>
    <p class="govuk-body">
      Each of the conditions of the Agreement operates separately. If any court or relevant authority decides that any
      term, condition or provision of the Agreement is unlawful, the remaining terms, conditions and provisions will
      remain in full force and effect.
    </p>
  </article>
  <article>
    <h3 class="govuk-heading-s">20.4 Even if we delay in enforcing the Agreement, we can still enforce it later</h3>
    <p class="govuk-body">
      If we do not insist immediately that you do anything you are required to do under the Agreement, or if we delay in
      taking steps against you in respect of you breaching the Agreement, that will not mean that you do not have to
      meet your obligations under this Agreement and it will not prevent us taking actions against you, as described in
      these Terms and Conditions, at a later date.
    </p>
  </article>
  <article>
    <h3 class="govuk-heading-s">20.5 Notices</h3>
    <p class="govuk-body">
      All notices in relation to the Agreement shall be in writing and shall be deemed to have been duly given if
      personally delivered, emailed, mailed (first class postage prepaid) or faxed using the contact details set out in
      the Agreement Document (or any updated address which is subsequently notified by one party to the other). It is
      the Agreement Holder’s responsibility to notify the Authority of any change to its contact details.
    </p>
  </article>
  <article>
    <h3 class="govuk-heading-s">20.6 Joint and several liability</h3>
    <p class="govuk-body">
      Where you are not a company nor an incorporated entity with a distinct legal personality of its own, the
      individuals who enter into the Agreement on behalf of you shall be jointly and severally liable for your
      obligations and liabilities arising under the Agreement.
    </p>
  </article>
  <article>
    <h3 class="govuk-heading-s">20.7 Dispute resolution</h3>
    <p class="govuk-body">
      Any dispute arising between the parties or any complaint or appeal by you concerning our actions in connection
      with the Agreement shall be resolved according to our complaints procedure a copy of which has been provided to
      you.
    </p>
  </article>
  <article>
    <h3 class="govuk-heading-s">20.8 Which laws apply to this Agreement and where you may bring legal proceedings</h3>
    <p class="govuk-body">
      The Agreement is governed by English law and you can only bring legal proceedings in respect of this Agreement in
      the English courts.
    </p>
  </article>
</section>
