<section id="sec-5-changes-to-your-agreement">
  <h2 class="govuk-heading-l">5. Changes to your Agreement</h2>
  <article>
    <h3 class="govuk-heading-s">5.1 Removing Actions or land from the Agreement</h3>
    <ol class="govuk-list govuk-list--number govuk-!-padding-left-7" style="list-style-type: lower-alpha;">
      <li>
        During the Agreement Period, we will not usually allow you to remove an Action or remove land from the Agreement
        Land. This is explained in the section about ‘Managing your FPTT agreement’ in the Farm Payments Rules.
      </li>
      <li>
        If you want to remove an Action or remove land forming part of the Agreement Land, you must write to us to
        request this and explain (providing any supporting evidence) why you wish to do so.
      </li>
      <li>
        We will consider requests under condition 5.1 on a case-by-case basis and may allow the request if there is a
        Change of Circumstances as defined in condition 6. We will inform you of our decision within a reasonable time
        period.
      </li>
      <li>
        If we approve a request to remove an Action or remove land forming part of the Agreement Land, then we may
        reduce, recover or withhold payment of the Grant in whole or in part until that request has been processed and
        the Agreement amended accordingly.
      </li>
    </ol>
  </article>

  <article>
    <h3 class="govuk-heading-s">5.2 When we may change your Agreement</h3>
    <ol class="govuk-list govuk-list--number govuk-!-padding-left-7" style="list-style-type: lower-alpha;">
      <li>
        We will not usually seek to vary your Agreement during the Agreement Period (in a way not referred to elsewhere
        in these Terms and Conditions). This is explained in the section about ‘Managing your FPTT agreement’ in the
        Farm Payments Rules.
      </li>
      <li>
        However, there may also be exceptional circumstances (not referred to elsewhere in these Terms and Conditions)
        where we have to vary your Agreement during the Agreement Period. We will only do this due to exceptional
        circumstances, such as:

        <ol class="govuk-list govuk-list--number govuk-!-padding-left-7" style="list-style-type: lower-roman;">
          <li>changes in Law which must be reflected in the Agreement; and/or</li>
          <li>
            the need to respond to wider government emergency measures and/or measures imperative to the national
            interest, for example, disease outbreaks or food security emergencies.
          </li>
        </ol>
      </li>

      <li>
        If we vary the Agreement under condition 5.2(b):

        <ol class="govuk-list govuk-list--number govuk-!-padding-left-7" style="list-style-type: lower-roman;">
          <li>
            we will notify you in writing and will endeavour to give such notice as is reasonable and proportionate,
            having regard to the nature of the variation, its consequences for you and any action required from you;
          </li>
          <li>
            any variation to the Agreement will apply from the date we specify in our notice to you, provided you take
            the action required as set out in the notice; and
          </li>
          <li>
            if the variation to the Agreement under condition 5.2(b) is unacceptable to you, you can terminate your
            Agreement by notifying us in writing within a reasonable period that we will specify in our notice to you.
            If you do not accept the variation in the manner set out in our notification, we may terminate your
            Agreement in accordance with condition 13.1(b). Condition 13.3(d) will not apply, provided you inform us
            within the period specified by us.
          </li>
        </ol>
      </li>
    </ol>
  </article>

  <article>
    <h3 class="govuk-heading-s">5.3 When we may temporarily adjust your Agreement</h3>
    <ol class="govuk-list govuk-list--number govuk-!-padding-left-7" style="list-style-type: lower-alpha;">
      <li>
        We may identify factors which may temporarily impact your ability to complete your selected Actions, meaning you
        are temporarily unable to comply with your obligations under the Agreement. These factors may include, but are
        not limited to, adverse weather conditions such as flooding or drought. This is explained in the section about
        ‘Managing your FPTT agreement’ in the Farm Payments Rules.
      </li>
      <li>
        If condition 5.3(a) applies, we may make a temporary adjustment to the Actions in the Agreement, with this
        temporary adjustment only being effective during a time period specified by us.
      </li>
      <li>
        If we make a temporary adjustment under condition 5.3(b) we will notify you and will endeavour to give such
        notice as is reasonable and proportionate. Our notice will set out:
        <ol class="govuk-list govuk-list--number govuk-!-padding-left-7" style="list-style-type: lower-roman;">
          <li>the details of the temporary adjustment;</li>
          <li>the time period for when the temporary adjustment applies, including a start date and end date;</li>
          <li>
            the evidence you must keep if you choose to comply with the temporary adjustment, as described under
            condition 5.3(f).
          </li>
        </ol>
      </li>
      <li>
        The temporary adjustment under condition 5.3(b) will cease to apply after the end date specified in our notice
        under condition 5.3(c). After that end date, you must complete your selected Actions to comply with your
        obligations under the Agreement as if no temporary adjustment had been made.
      </li>
      <li>
        There is no obligation for you to comply with the temporary adjustment under condition 5.3(b). You can continue
        to complete your selected Actions without complying with the temporary adjustment under Condition 5.3(b).
      </li>
      <li>
        If you choose to comply with the temporary adjustment under Condition 5.3(b), you must:
        <ol class="govuk-list govuk-list--number govuk-!-padding-left-7" style="list-style-type: lower-roman;">
          <li>
            keep Records as set out in condition 18 (What accounts and records you must keep) to evidence your
            compliance with condition 5.3; and
          </li>
          <li>complete and retain a copy of the prescribed version we publish under condition 5.3(c)(iii).</li>
        </ol>
      </li>
    </ol>
  </article>
</section>
