<section id="sec-3-management-control">
  <h2 class="govuk-heading-l">3. Management Control of the Agreement Land</h2>
  <article>
    <h3 class="govuk-heading-s">3.1 What is Management Control?</h3>
    <p class="govuk-body">
      You will have “Management Control” if you have sufficient control over how the Agreement Land is managed to
      complete the Actions you have selected. This is explained in the section ‘Check if you have management control of
      land’ in the Farm Payment Rules.
    </p>
  </article>
  <article>
    <h3 class="govuk-heading-s">3.2 Management Control for the duration of the Agreement</h3>
    <p class="govuk-body">You must have Management Control of the Agreement Land for the entire Agreement Period.</p>
  </article>
  <article>
    <h3 class="govuk-heading-s">3.3 If you lose Management Control</h3>
    <ol class="govuk-list govuk-list--number govuk-!-padding-left-7" style="list-style-type: lower-alpha;">
      <li>
        If you lose Management Control of all or part of the Agreement Land before the Agreement End Date, you must
        inform us using the procedure in condition 6 (Change of Circumstances).
      </li>
      <li>
        If you lose Management Control of all of the Agreement Land, the Agreement will be terminated, and you may have
        to repay some or all of the Grant already received as set out in condition 6 (Change of Circumstances).
      </li>
      <li>
        If you lose Management Control of part of the Agreement Land, the affected land will be removed from the
        Agreement and you may have to repay some or all of the Grant already received as set out in condition 6 (Change
        of Circumstances).
      </li>
    </ol>
  </article>
  <article>
    <h3 class="govuk-heading-s">3.4 Tenanted Land</h3>
    <p class="govuk-body">
      If you hold land under a Farm Business Tenancy under the Agricultural Tenancies Act 1995 or an Agricultural
      Holdings Act 1986 tenancy:
    </p>
    <ol class="govuk-list govuk-list--number govuk-!-padding-left-7" style="list-style-type: lower-alpha;">
      <li>
        you must ensure that by entering the land into the Agreement you do not breach the conditions of your tenancy;
        and
      </li>
      <li>
        if the tenancy expires before the Agreement End Date, you must only include this land in your Agreement Land if
        you expect to have Management Control of this land for the entire Agreement Period.
      </li>
    </ol>
  </article>
</section>
