@use 'govuk-frontend' as *;

.land-parcel-summary__action-hint {
  @include govuk-font-size(16);
  display: block;
  font-weight: normal;
  color: $govuk-secondary-text-colour;
}

.land-parcel-summary__table {
  table-layout: fixed;
}

.land-parcel-summary__quantity-column {
  width: 8em;
}

.land-parcel-summary__yearly-payment-column {
  width: 9em;
}

.land-parcel-summary__change-column {
  width: 5em;
}

.land-parcel-summary__table .govuk-table__header:not(:first-child),
.land-parcel-summary__table .govuk-table__cell {
  white-space: nowrap;
}

.land-parcel-summary-card__subtotal .govuk-table__cell,
.land-parcel-summary-card__subtotal .govuk-table__header {
  border-bottom: none;
}

.land-parcel-summary-card__add-action {
  margin-top: 15px;
  margin-bottom: 0;
}
