@use 'govuk-frontend' as *;

.govuk-panel-card {
  background: govuk-colour('blue');
  text-align: left;
  margin-bottom: govuk-spacing(6);

  .govuk-panel__title {
    @include govuk-font-size($size: 36);
    color: govuk-colour('white');
  }

  h1,
  p,
  li,
  a {
    color: govuk-colour('white');
  }

  p:last-of-type {
    margin-bottom: 0;
  }

  a:hover {
    color: govuk-colour('black');
  }
}
