@media print {
  // stylelint-disable declaration-no-important
  .govuk-cookie-banner,
  .govuk-header,
  .govuk-service-navigation,
  .govuk-phase-banner,
  .defra-account-bar,
  .govuk-footer,
  .app-print-button,
  .govuk-details {
    display: none !important;
    visibility: hidden !important;
    height: 0 !important;
    overflow: hidden !important;
    background: transparent !important;
  }

  .govuk-width-container {
    max-width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  .govuk-grid-column-two-thirds {
    float: none !important;
    max-width: 100% !important;
    width: 100% !important;
  }

  .defra-panel-card {
    background: transparent !important;

    h1,
    p,
    li {
      color: govuk-colour('black') !important;
    }
  }

  .defra-terms_and_conditions_page_heading {
    background-color: transparent !important;
    color: govuk-colour('black') !important;
  }

  .defra-terms_and_conditions_page_heading__caption {
    color: govuk-colour('black') !important;
  }
  // stylelint-enable declaration-no-important
}
