@use "govuk-frontend" as *;

.defra-terms_and_conditions_definitions {
  div {
    @include govuk-responsive-margin(5, "bottom");
  }

  dt {
    @include govuk-font($size: 19, $weight: bold);
    margin-right: 0;
    display: inline;
  }

  dd {
    @include govuk-font($size: 19, $weight: regular);
    display: inline;
    margin-left: 0;
  }
}
