{% extends baseLayoutPath %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "partials/components.html" import componentList with context %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if errors | length %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: checkErrorTemplates(errors)
        }) }}
      {% endif %}

      {% include "partials/heading.html" %}

      {% if totalHectaresAppliedFor %}
        {{ govukInsetText({
          text: "The total area of your selected land parcels is " + totalHectaresAppliedFor + " ha"
        }) }}
      {% endif %}

      {% block form %}
        {% include "partials/form.html" %}
      {% endblock %}
    </div>
  </div>
{% endblock %}
