{% extends "layouts/page.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "sbi-selector/macro.njk" import sbiSelector %}

{% block pageTitle %}
  {{ "Error: " if errors | length }}{{ pageTitle | evaluate }} | {{ name | default(serviceName) }}
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    classes: "govuk-header--full-width-border",
    containerClasses: "govuk-width-container",
    rebrand: true
  }) }}

  {{ govukServiceNavigation({ serviceName: name | default(serviceName) , serviceUrl: serviceUrl }) }}

  <div class="govuk-width-container">
    {{ govukPhaseBanner({
      tag: {
        text: "Beta"
      },
      text: 'This is a new service.'
    }) }}
  </div>

    {{ defraAccountBar({
      organisationName: auth.organisationName,
      organisationId: auth.organisationId | default(""),
      name: auth.name
    }) }}

    {% if not defraIdEnabled and serviceUrl == '/farm-payments' %}

  <div class="govuk-width-container">
      {{ sbiSelector({
        sbi: auth.sbi | default("")
      }) }}
  </div>
    {% endif %}

  <input type="hidden" id="csrf-token" value="{{ crumb }}">
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {% if backLink %}
    {{ govukBackLink(backLink) }}
  {% endif %}
{% endblock %}
