{% set govukRebrand = true %}

{% extends "govuk/template.njk" %}

{# Import GOVUK components globally #}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{# Import custom components globally #}
{% from "heading/macro.njk" import appHeading %}
{% from "account-bar/macro.njk" import defraAccountBar %}
{% from "sbi-selector/macro.njk" import sbiSelector %}

{% set mainClasses = "" %}

{% block head %}
  <link href="{{ getAssetPath('stylesheets/application.scss') }}" rel="stylesheet">

  {%  if gaTrackingId %}
  <script nonce="{{ cspNonce }}">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});let f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!=='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','{{ gaTrackingId }}');</script>
  {% endif %}
{% endblock %}

{% block bodyStart %}
  {%  if gaTrackingId %}
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id={{ gaTrackingId }}" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  {% endif %}
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    classes: "govuk-header--full-width-border",
    containerClasses: "govuk-width-container",
    rebrand: true
  }) }}

  {{ govukServiceNavigation({ serviceName: serviceName, serviceUrl: serviceUrl }) }}

  <div class="govuk-width-container">
    {{ govukPhaseBanner({
      tag: {
        text: "Beta"
      },
      text: 'This is a new service - your feedback will help us to improve it.'
    }) }}
  </div>
    {{ defraAccountBar({
      organisationName: auth.organisationName,
      organisationId: auth.organisationId | default(""),
      name: auth.name
    }) }}
{% endblock %}

{% block pageTitle %}
  {{ pageTitle }} | {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {% if breadcrumbs.length > 1 %}
    {{ govukBreadcrumbs({
      items: breadcrumbs
    }) }}
  {% endif %}
{% endblock %}

<main id="main-content" class="{{ mainClasses }}" role="main">
  {% block content %}{% endblock %}
</main>

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "https://www.gov.uk/help/privacy-notice",
          text: "Privacy"
        },
        {
          href: "https://www.gov.uk/help/cookies",
          text: "Cookies"
        },
        {
          href: "https://www.gov.uk/help/accessibility-statement",
          text: "Accessibility statement"
        },
        {
          href: "/clear-application-state",
          text: "Clear application state"
        }
      ]
    },
    rebrand: true
  }) }}
{% endblock %}

{% block bodyEnd %}
  <script type="module" nonce="{{ cspNonce }}" src="{{ getAssetPath('application.js') }}"></script>
{% endblock %}
