{% set govukRebrand = true %}

{% extends "govuk/template.njk" %}

{# Import GOVUK components globally #}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{# Import custom components globally #}
{% from "heading/macro.njk" import appHeading %}
{% from "account-bar/macro.njk" import defraAccountBar %}
{% from "sbi-selector/macro.njk" import sbiSelector %}
{% from "cookie-banner/macro.njk" import defraCookieBanner %}

{% set mainClasses = "" %}

{% block head %}
  <link href="{{ getAssetPath('stylesheets/application.scss') }}" rel="stylesheet">

  {# Google Analytics is loaded conditionally by cookie-consent.js after user consent #}
{% endblock %}

{% block bodyStart %}
  {# Cookie banner appears at the top of the page, before the skip link #}
  {{ defraCookieBanner({
    config: cookieBannerConfig,
    noscriptConfig: cookieBannerNoscriptConfig
  }) }}
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    classes: "govuk-header--full-width-border",
    containerClasses: "govuk-width-container",
    rebrand: true
  }) }}

  {{ govukServiceNavigation({ serviceName: serviceName, serviceUrl: serviceUrl }) }}

  <div class="govuk-width-container">
    {{ govukPhaseBanner({
      tag: {
        text: "Beta"
      },
      text: 'This is a new service.'
    }) }}
  </div>

  {{ defraAccountBar({
    organisationName: auth.organisationName,
    organisationId: auth.organisationId | default(""),
    name: auth.name
  }) }}
{% endblock %}

{% block pageTitle %}
  {{ pageTitle }} | {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {% if breadcrumbs.length > 1 %}
    {{ govukBreadcrumbs({
      items: breadcrumbs
    }) }}
  {% endif %}
{% endblock %}

<main id="main-content" class="{{ mainClasses }}" role="main">
  {% block content %}{% endblock %}
</main>

{% block footer %}
  {% set footerItems = [
    {
      href: "https://www.gov.uk/help/privacy-notice",
      text: "Privacy"
    },
    {
      href: cookiePolicyUrl,
      text: "Cookies"
    },
    {
      href: "https://www.gov.uk/help/accessibility-statement",
      text: "Accessibility statement"
    }
  ] %}

  {% if cdpEnvironment !== 'prod' %}
    {% set footerItems = footerItems.concat([{
      href: "./clear-application-state",
      text: "Clear application state"
    }]) %}
  {% endif %}

  {{ govukFooter({
    meta: {
      items: footerItems
    },
    rebrand: true
  }) }}
{% endblock %}

{% block bodyEnd %}
  <script type="module" nonce="{{ cspNonce }}" src="{{ getAssetPath('application.js') }}"></script>
{% endblock %}
