{% extends "govuk/template.njk" %}

{# Import GOVUK components globally #}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{# Import custom components globally #}
{% from "heading/macro.njk" import appHeading %}
{% from "account-bar/macro.njk" import defraAccountBar %}

{% set mainClasses = "app-main-wrapper" %}

{% block head %}
  <link href="{{ getAssetPath('stylesheets/application.scss') }}" rel="stylesheet">
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    classes: "govuk-header--full-width-border",
    containerClasses: "govuk-width-container",
    useTudorCrown: true
  }) }}

  {{ govukServiceNavigation({ serviceName: serviceName, serviceUrl: serviceUrl }) }}

  {{ defraAccountBar({
    businessName: "Agile Farms Ltd",
    sbi: "1234567890",
    userName: "Alfred Waldron"
  }) }}
{% endblock %}

{% block pageTitle %}
  {{ pageTitle }} | {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {% if auth.isAuthenticated %}
    <div class="gov-grid-row">
      <div style="float:right;clear:both;text-align:right;">
        <p class="govuk-body govuk-!-margin-bottom-0">Signed in as <a href="/home" class="govuk-link">{{ auth.name }}</a></p>
        <p class="govuk-body govuk-!-margin-bottom-0"><a href="/auth/organisation" class="govuk-link">Switch organisation</a></p>
        <p class="govuk-body govuk-!-margin-bottom-0"><a href="/auth/sign-out" class="govuk-link">Sign out</a></p>
      </div>
    </div>
  {% endif %}
  {% if breadcrumbs.length > 1 %}
    {{ govukBreadcrumbs({
      items: breadcrumbs
    }) }}
  {% endif %}
{% endblock %}

<main id="main-content" class="{{ mainClasses }}" role="main">
  {% block content %}{% endblock %}
</main>

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "https://www.gov.uk/help/privacy-notice",
          text: "Privacy"
        },
        {
          href: "https://www.gov.uk/help/cookies",
          text: "Cookies"
        },
        {
          href: "https://www.gov.uk/help/accessibility-statement",
          text: "Accessibility statement"
        }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="{{ getAssetPath('application.js') }}"></script>
{% endblock %}
