{% extends baseLayoutPath %}

{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% set checkboxConfirmOptional = {
idPrefix: 'consentOptional',
name: 'consentOptional',
items: [{
value: 'CONSENT_OPTIONAL',
text: '(Optional) I consent to being contacted by Defra or a third party about service improvements',
checked: false,
selected: false
}]
}
%}

{% block content %}

<div class="govuk-body">
  <h1 class="govuk-heading-l">Potential funding</h1>

  <p class="govuk-!-font-weight-bold">Based on your pig breeds and numbers, you may be able to apply for grant funding of up to {{ context.grandTotal | formatCurrency }}.</p>

  {% if context.pigData['largeWhite'].quantity > 0 %}
    <br><span class="govuk-!-font-weight-bold">Large White:</span> {{ context.pigData['largeWhite'].quantity }} pigs × {{ context.pigData['largeWhite'].value | formatCurrency }} = {{ context.pigData['largeWhite'].total | formatCurrency }}
  {% endif %}

  {% if context.pigData['britishLandrace'].quantity > 0 %}
    <br><span class="govuk-!-font-weight-bold">British Landrace:</span> {{ context.pigData['britishLandrace'].quantity }} pigs × {{ context.pigData['britishLandrace'].value | formatCurrency }} = {{ context.pigData['britishLandrace'].total | formatCurrency }}
  {% endif %}

  {% if context.pigData['berkshire'].quantity > 0 %}
    <br><span class="govuk-!-font-weight-bold">Berkshire:</span> {{ context.pigData['berkshire'].quantity }} pigs × {{ context.pigData['berkshire'].value | formatCurrency }} = {{ context.pigData['berkshire'].total | formatCurrency }}
  {% endif %}

  {% if context.pigData['other'].quantity > 0 %}
  <br><span class="govuk-!-font-weight-bold">Other:</span> {{ context.pigData['other'].quantity }} pigs × {{ context.pigData['other'].value | formatCurrency }} = {{ context.pigData['other'].total | formatCurrency }}
  {% endif %}

  <div class="padding-top: govuk-spacing(6)">
    <br><span class="govuk-!-font-weight-bold">Grant total:</span> {{ context.grandTotal | formatCurrency }}
  </div>

  <div class="govuk-warning-text"> <span class="govuk-warning-text__icon"
                                         aria-hidden="true">!</span> <strong class="govuk-warning-text__text"> <span
    class="govuk-visually-hidden">Warning</span>There's no guarantee the project
    will receive a grant.</strong></div>
</div>

{% block form %}
<form method="post" novalidate>
  <input type="hidden" name="crumb" value="{{ crumb }}">
  {{ govukButton({
  text: "Continue",
  preventDoubleClick: true
  }) }}
</form>
{% endblock %}

{% endblock %}
