{% extends 'layouts/page.njk' %}
{% from "two-thirds-column/macro.njk" import appTwoThirdsColumn %}

{% block content %}
  {% call appTwoThirdsColumn() %}
    <h1 class="govuk-heading-l">Grants available to you</h1>

    {% if grants | length %}
      <p class="govuk-body">
        Select a grant to start or continue an
        application{% if organisationName %}for {{ organisationName }}{% endif %}.
      </p>

      <ul class="govuk-list">
        {% for grant in grants %}
          <li class="govuk-!-margin-bottom-6">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
              <a class="govuk-link" href="{{ grant.href }}">{{ grant.title }}</a>
            </h2>
            {% if grant.description %}
              <p class="govuk-body">{{ grant.description }}</p>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p class="govuk-body">You do not currently have access to any active grant services.</p>
    {% endif %}
  {% endcall %}
{% endblock %}
