{% extends 'layouts/page.njk' %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "two-thirds-column/macro.njk" import appTwoThirdsColumn %}

{% block content %}
  {% call appTwoThirdsColumn() %}
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">{{ auth.name }}</span>
      You have signed in
    </h1>

    <span class="govuk-caption-m">{{ auth.organisationId }}</span>
    <h2 class="govuk-heading-m">Your session details</h2>

    {% set summaryRows = [] %}
    {% for key, value in auth %}
      {% set summaryRows = (summaryRows.push({
        key: { text: key },
        value: { text: value }
      }), summaryRows) %}
    {% endfor %}

    {{ govukSummaryList({ rows: summaryRows }) }}
  {% endcall %}
{% endblock %}
