{% extends "layouts/page.njk" %}

{% block pageTitle %}{{ pageHeading }}{% endblock %}
{% from "govuk/components/task-list/macro.njk" import govukTaskList %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-2">
      <h1 class="govuk-heading-xl">{{ pageHeading }}</h1>

      {% if closingDate %}
      <div class="govuk-inset-text">
        Application closing date is <strong>{{ closingDate }}</strong>.
      </div>
      {% endif %}

      {% for section in sections %}
        <h2 class="govuk-heading-m">{{ section.title }}</h2>

        {{ govukTaskList({
          idPrefix: "section.title",
          items: section.subsections
          })
        }}
      {% endfor %}

      {% if helpText %}
      <div class="app-contact-panel">
        <h2 class="govuk-heading-s">Need help?</h2>
        <p class="govuk-body app-contact-panel__body">
          <a class="govuk-link" href="/fetf/change-request/help-triage">{{ helpText }}</a>
        </p>
      </div>
      {% endif %}  
    </div>  
  </div>  

{% endblock %}