{% extends 'layouts/page.njk' %}

{% block pageTitle %}
  Page not found
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Page not found</h1>
      <p class="govuk-body">
        If you typed the web address, check it is correct.
      </p>
      <p class="govuk-body">
        If you pasted the web address, check you copied the entire address.
      </p>
      <p class="govuk-body">
        If the web address is correct or you selected a link or button, contact the Rural Payments Agency (RPA) by phone
        or email for support.
      </p>
      <p class="govuk-body">
        Telephone: 020 8026 2395<br>
        Monday to Friday, 8:30am to 5pm (except bank holidays)
      </p>
      <p class="govuk-body">
        <a href="https://www.gov.uk/call-charges" class="govuk-link" rel="noreferrer noopener" target="_blank">Find out about call charges (opens in new tab)</a>
      </p>
      <p class="govuk-body">
        Email: <a href="mailto:farmpayments@rpa.gov.uk" class="govuk-link">farmpayments@rpa.gov.uk</a>
      </p>
      <p class="govuk-body">
        The RPA responds to email queries within 10 working days.
      </p>
    </div>
  </div>
{% endblock %}
