{% extends "layouts/page.njk" %}

{% block pageTitle %}Redirecting to the Farm and Land Service{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Redirecting to the Farm and Land Service</h1>
      <p class="govuk-body">
        If you are not redirected automatically,
        <a class="govuk-link" id="sfd-redirect-link" href="{{ redirectUrl }}">continue to the Farm and Land Service</a>.
      </p>
    </div>
  </div>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script nonce="{{ cspNonce }}">
    window.location.replace(document.getElementById('sfd-redirect-link').href)
  </script>
{% endblock %}
