{% extends baseLayoutPath %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block content %}
<div class="govuk-body">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if errorSummary.length > 0 %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorSummary
        }) }}
      {% endif %}

      <h1 class="govuk-heading-l">Choose which actions to do</h1>

      {{ govukSummaryList({
          card: {
            title: {
              text: "Chosen parcel: " + selectedLandParcelSummary.name
            },
            actions: {
              items: [
                {
                  href: backLink.href,
                  text: "Change",
                  visuallyHiddenText: "land parcel to do actions on"
                }
              ]
            }
          },
          rows: selectedLandParcelSummary.rows
        })
      }}

      {% if availableActions %}
        <form method="post" novalidate>
          {% set actionsCheckboxes = [] %}
          {% set action = actionId or actions[0].id %}

          {% for action in availableActions %}
            <input type="hidden" name="{{quantityPrefix + action.code }}" value="{{ action.availableArea.value}}">

            {% set actionsCheckboxes = actionsCheckboxes.concat([{
              value: action.code,
              text: action.description,
              checked: actions and actions.includes(action.code)
            }]) %}
          {% endfor %}

          {% if actionsCheckboxes.length > 0 %}

            {{ govukCheckboxes({
              name: "selectedActions",
              fieldset: {
                legend: {
                  text: "Available actions",
                  classes: "govuk-fieldset__legend--m"
                }
              },
              hint: {
                text: "Select all the actions you want to do for this land parcel"
              },
              items: actionsCheckboxes,
              values: selectedActions or [],
              errorMessage: errors["selectedActions"]

            }) }}

            <div class="govuk-button-group">
              <input type="hidden" name="crumb" value="{{ crumb }}">
              {% block form %}
                {{ govukButton({
                  text: "Continue",
                  preventDoubleClick: true
                }) }}
              {% endblock %}
            </div>
          {% else %}
            {{ govukWarningText({
              text: "No actions available to select.",
              iconFallbackText: "Warning"
            }) }}
          {% endif %}
        </form>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
