{% extends baseLayoutPath %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "support-details/macro.njk" import defraSupportDetails %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {% if previewMode %}
        {% include "partials/preview-banner.html" %}
      {% endif %}

      {% if error %}
        {{ govukErrorSummary(error) }}
      {% endif %}

      <h1 class="govuk-heading-l">
        {{ pageTitle }}
      </h1>

      {% if details.person and details.person.rows.length %}
        <h2 class="govuk-heading-m">
          Your details
        </h2>
        {{ govukSummaryList(details.person) }}
      {% endif %}

      {% if details.business and details.business.rows.length %}
        <h2 class="govuk-heading-m">
          Business details
        </h2>
        {{ govukSummaryList(details.business) }}
      {% endif %}

      {% if details.contact and details.contact.rows.length %}
        <h2 class="govuk-heading-m">
          Contact details
        </h2>
        {{ govukSummaryList(details.contact) }}
      {% endif %}

      {% if details.rows %}
        {{ govukSummaryList(details) }}
      {% endif %}
     
      {% if not error %}
        <form method="post" novalidate>
          <input type="hidden" name="crumb" value="{{ crumb }}">
          {{ govukButton({
              text: "Continue",
              preventDoubleClick: true
            })
          }}
        </form>
      {% endif%}

      {{ defraSupportDetails() }}
    </div>
  </div>

  {% if config.cdpEnvironment == 'local' and context | length and not context.isForceAccess %}
    {% include "partials/debug.html" %}
  {% endif %}
{% endblock %}
