{% extends baseLayoutPath %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "support-details/macro.njk" import defraSupportDetails %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      {% if previewMode %}
        {% include "partials/preview-banner.html" %}
      {% endif %}

      {% if error %}
        {{ govukErrorSummary(error) }}
      {% endif %}

      <h1 class="govuk-heading-l">
        {{ pageTitle }}
      </h1>

      {% if farmDetails.missingFields and farmDetails.missingFields.length > 0 %}

        {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

        {{ govukWarningText({
          text: " You have some missing details. Your details must be complete before you can continue. To update your details, phone the Rural Payments Agency (RPA) on 020 8026 2395. ",
          iconFallbackText: "Warning"
        }) }}
      {% endif %}
      {{ govukSummaryList(farmDetails) }}

      {% if not error %}
        <form method="post" novalidate>
          <input type="hidden" name="crumb" value="{{ crumb }}">
          {{ govukButton({
              text: "Continue",
              disabled: farmDetails.missingFields and farmDetails.missingFields.length > 0,
              preventDoubleClick: true
            })
          }}
        </form>
      {% endif%}

      {{ defraSupportDetails() }}
    </div>
  </div>

  {% if config.cdpEnvironment == 'local' and context | length and not context.isForceAccess %}
    {% include "partials/debug.html" %}
  {% endif %}
{% endblock %}
