{% extends baseLayoutPath %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "support-details/macro.njk" import defraSupportDetails %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form method="post" novalidate="novalidate">
        <input type="hidden" name="crumb" value="{{ crumb }}">

        {% for consentType in requiredConsents %}
          {% if consentType == 'sssi' %}
            {{ govukPanel({
              classes: "govuk-panel-card",
              titleText: "You must have SSSI consent",
              html: '<p class="govuk-body">You are applying for actions on land that\'s a site of special scientific interest (SSSI). You must get SSSI consent from Natural England.</p><p class="govuk-body">Read the <a href="https://www.gov.uk/government/publications/request-permission-for-works-or-an-activity-on-an-sssi" rel="noreferrer nofollow" target="_blank">guidance on SSSI consent (opens in new tab)</a>.</p>'
            }) }}
          {% endif %}
        {% endfor %}

        {{ govukButton({
            text: "Continue",
            preventDoubleClick: true
          })
        }}
      </form>

    </div>
  </div>
{% endblock %}
