{% extends baseLayoutPath %}

{% block content %}
  <h1 class="defra-terms_and_conditions_page_heading">
    {{ pageTitle }}
    <div class="defra-terms_and_conditions_page_heading__caption">Published 8 December 2025</div>
  </h1>

  <div class="govuk-grid-row" id="contents">
    <div class="govuk-grid-column-one-quarter defra-sidebar">
      <nav aria-label="Contents" class="gem-c-contents-list govuk-!-margin-bottom-4 ">
        <h2 class="defra-sidebar__title">Contents</h2>
        <ol class="govuk-list defra-sidebar__list">
          <li>
            <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
            <a class="govuk-link govuk-link--no-underline" href="#sec-1-about-the-farm-payments-technical-test"
              >1. About the Farm payments technical test</a
            >
          </li>
          <li>
            <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
            <a class="govuk-link govuk-link--no-underline" href="#sec-2-when-and-how-much-you-will-get-paid"
              >2. When and how much you’ll get paid</a
            >
          </li>
          <li>
            <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
            <a class="govuk-link govuk-link--no-underline" href="#sec-3-check-if-you-are-eligible-to-apply"
              >3. Check if you’re eligible to apply</a
            >
          </li>
          <li>
            <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
            <a class="govuk-link govuk-link--no-underline" href="#sec-4-check-if-you-have-management-control-of-land"
              >4. Check if you have management control of land</a
            >
          </li>
          <li>
            <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
            <a class="govuk-link govuk-link--no-underline" href="#sec-5-check-if-your-land-is-eligible-for-FPTT-actions"
              >5. Check if your land is eligible for FPTT actions</a
            >
          </li>
          <li>
            <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
            <a class="govuk-link govuk-link--no-underline" href="#sec-6-eligible-land-in-other-funding-schemes"
              >6. Eligible land in other funding schemes</a
            >
          </li>
          <li>
            <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
            <a class="govuk-link govuk-link--no-underline" href="#sec-7-select-your-FPTT-actions"
              >7. Select your FPTT actions</a
            >
          </li>
          <li>
            <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
            <a
              class="govuk-link govuk-link--no-underline"
              href="#sec-8-what-to-do-before-you-apply-for-an-FPTT-agreement"
              >8. What to do before you apply for an FPTT agreement</a
            >
          </li>
          <li>
            <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
            <a class="govuk-link govuk-link--no-underline" href="#sec-9-how-to-apply-online">9. How to apply online</a>
          </li>
          <li>
            <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
            <a
              class="govuk-link govuk-link--no-underline"
              href="#sec-10-get-all-necessary-regulatory-consents-permissions-and-licences-in-place"
            >
              10. Get all necessary regulatory consents, permissions and licences in place
            </a>
          </li>
          <li>
            <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
            <a class="govuk-link govuk-link--no-underline" href="#sec-11-about-your-FPTT-agreement"
              >11. About your FPTT agreement</a
            >
          </li>
          <li>
            <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
            <a class="govuk-link govuk-link--no-underline" href="#sec-12-managing-your-FPTT-agreement"
              >12. Managing your FPTT agreement</a
            >
          </li>
          <li>
            <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
            <a class="govuk-link govuk-link--no-underline" href="#sec-13-complying-with-your-FPTT-agreement"
              >13. Complying with your FPTT agreement</a
            >
          </li>
          <li>
            <span class="gem-c-contents-list__list-item-dash" aria-hidden="true"></span>
            <a class="govuk-link govuk-link--no-underline" href="#sec-14-contact-the-RPA">14. Contact the RPA</a>
          </li>
        </ol>
      </nav>
    </div>

    <div class="govuk-grid-column-three-quarters-from-desktop">
      {% include "fptt-information/sec-1-about-the-farm-payments-technical-test.html" %}
      {% include "fptt-information/sec-2-when-and-how-much-you-will-get-paid.html" %}
      {% include "fptt-information/sec-3-check-if-you-are-eligible-to-apply.html" %}
      {% include "fptt-information/sec-4-check-if-you-have-management-control-of-land.html" %}
      {% include "fptt-information/sec-5-check-if-your-land-is-eligible-for-FPTT-actions.html" %}
      {% include "fptt-information/sec-6-eligible-land-in-other-funding-schemes.html" %}
      {% include "fptt-information/sec-7-select-your-FPTT-actions.html" %}
      {% include "fptt-information/sec-8-what-to-do-before-you-apply-for-an-FPTT-agreement.html" %}
      {% include "fptt-information/sec-9-how-to-apply-online.html" %}
      {% include "fptt-information/sec-10-get-all-necessary-regulatory-consents-permissions-and-licences-in-place.html" %}
      {% include "fptt-information/sec-11-about-your-FPTT-agreement.html" %}
      {% include "fptt-information/sec-12-managing-your-FPTT-agreement.html" %}
      {% include "fptt-information/sec-13-complying-with-your-FPTT-agreement.html" %}
      {% include "fptt-information/sec-14-contact-the-RPA.html" %}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-margin-bottom-4">
      <a class="govuk-link gem-c-back-to-top-link govuk-!-display-none-print" href="#contents">
        <svg
          class="gem-c-back-to-top-link__icon"
          xmlns="http://www.w3.org/2000/svg"
          width="13"
          height="17"
          viewBox="0 0 13 17"
          aria-hidden="true"
          focusable="false"
        >
          <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
        </svg>
        Back to top
      </a>
    </div>
  </div>

  {% if config.cdpEnvironment == 'local' and context | length and not context.isForceAccess %}
    {% include "partials/debug.html" %}
  {% endif %}
{% endblock %}
