{% extends baseLayoutPath %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "summaryCard/macro.njk" import summaryCard %}
{% from "support-details/macro.njk" import defraSupportDetails %}

{% block content %}
  <div class="govuk-body">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {% if warning %}
          {{ govukWarningText({
          text: warning
        }) }}
        {% endif %}

        {% if info %}
          {{ govukInsetText({
          text: info
        }) }}
        {% endif %}
        {% if errorMessages %}
          {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorMessages
        }) }}
        {% endif %}

        <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

        <p class="govuk-body-l">The total yearly payment is
          <strong>{{ totalYearlyPayment }}</strong>.</p>

        {% for item in parcelItems %}
          {% call summaryCard({
          title: {
            text: item.cardTitle
          },
          headerActions: item.headerActions,
          footerActions: item.footerActions
        }) %}
          {{ govukTable({
            caption: "List of parcel actions selected for this application",
            captionClasses: "govuk-visually-hidden",
            head: [
              {
                text: "Action",
                classes: "govuk-!-width-one-half"
              },
              {
                text: "Quantity (ha)",
                format: "numeric"
              },
              {
                text: "Yearly payment",
                format: "numeric"
              },
              {
                html: '<span class="govuk-visually-hidden">Change or remove action on parcel</span>'
              }
            ],
            rows: item.items,
            classes: "govuk-table--no-bottom-border govuk-!-margin-bottom-0"
          }) }}
          {% endcall %}
        {% endfor %}

        {% for item in additionalYearlyPayments %}
          {% call summaryCard({
            title: {
              text: "Additional yearly payments"
            }
          }) %}
          {{ govukTable({
            caption: "List of additional yearly payments",
            captionClasses: "govuk-visually-hidden",
            head: [
              {
                text: "Action",
                classes: "govuk-!-width-two-thirds"
              },
              {
                html: "<div class='govuk-!-width-one-half'>Yearly payment</div>",
                format: "numeric",
                classes: "govuk-!-padding-right-5"
              }
            ],
            rows: item.items,
            classes: "govuk-table--no-bottom-border"
          }) }}
          {% endcall %}
        {% endfor %}
      </div>
        <div class="govuk-grid-column-two-thirds">
          <form method="post" novalidate="novalidate">
            {{ govukRadios({
                classes: "govuk-radios--inline",
                name: "addMoreActions",
                fieldset: {
                  legend: {
                    text: "Do you want to add actions to another land parcel?",
                    classes: "govuk-fieldset__legend--m"
                  }
                },
                items: [
                  {
                    value: "true",
                    text: "Yes"
                  },
                  {
                    value: "false",
                    text: "No"
                  }
                ],
                errorMessage: errorMessages and errorMessages[0] and errorMessages[0].href and { text: errorMessages[0].text, href: errorMessages[0].href }
              })
            }}
            <div class="govuk-button-group">
              <input type="hidden" name="crumb" value="{{ crumb }}">
              {% block form %}
                {{ govukButton({
                text: "Continue",
                preventDoubleClick: true
              }) }}
              {% endblock %}
            </div>
          </form>
        {{ defraSupportDetails() }}
      </div>
    </div>
  </div>
  {% if config.cdpEnvironment == 'local' and context | length and not context.isForceAccess %}
    {% include "partials/debug.html" %}
  {% endif %}
{% endblock %}