{% extends baseLayoutPath %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "support-details/macro.njk" import defraSupportDetails %}

{% set pageTitle = pageHeading %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="{{ gridColumnClass(page, 'govuk-grid-column-two-thirds-from-desktop') }}">
      {% if isParcelRemoval %}
        {# Removing a whole parcel is confirmed by the button the user presses, so
           there is nothing to select and nothing to validate. #}
        <h1 class="govuk-heading-l">
          <span class="govuk-caption-l">
            {%- if sectionTitle and sectionTitle.length and (sectionTitle !== pageHeading) -%}
              {{- sectionTitle -}}
            {%- else -%}
              Select land and actions
            {%- endif -%}
          </span>
          {{ pageHeading }}
        </h1>

        <p class="govuk-body">Land parcel <strong>{{ parcelReference }}</strong> and all related actions will be removed from your application.</p>

        <form method="post" novalidate="novalidate">
          <input type="hidden" name="crumb" value="{{ crumb }}">
          <input type="hidden" name="remove" value="true">

          {{ govukButton({
              text: "Remove this land parcel",
              classes: "govuk-button--warning",
              preventDoubleClick: true
            })
          }}

          <p class="govuk-body">
            <a class="govuk-link govuk-link--no-visited-state" href="{{ backLink.href }}">Cancel</a>
          </p>
        </form>
      {% else %}
        {% if errors %}
            {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
              {
                text: errors,
                href: '#remove'
              }
            ]
          }) }}
        {% endif %}

        <form method="post" novalidate="novalidate">
          <input type="hidden" name="crumb" value="{{ crumb }}">

          {{ govukRadios({
              classes: "govuk-radios--inline",
              fieldset: {
                legend: {
                  text: pageHeading,
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--l"
                }
              },
              name: "remove",
              hint: {
                text: hint
              },
              items: [
                {
                  value: true,
                  text: "Yes"
                },
                {
                  value: false,
                  text: "No"
                }
              ],
              errorMessage: errors and { text: errors }
            })
          }}

          {{ govukButton({
              text: "Continue",
              preventDoubleClick: true
            })
          }}
        </form>

        {{ defraSupportDetails({typeOfSupport: 'question', email: page.def.metadata.supportEmail}) }}
      {% endif %}
    </div>
  </div>
{% endblock %}
