{% extends baseLayoutPath %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "summaryCard/macro.njk" import summaryCard %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block content %}
  <div class="govuk-body">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        {% if errors.length > 0 %}
          {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errors
        }) }}
        {% endif %}

        <h1 class="govuk-heading-l">
          Select actions for land parcel
          <span style="white-space: nowrap">{{ parcelName }}</span>
        </h1>

        <p>The list shows actions you can do on this parcel that are compatible with:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the land details registered with the Rural Payments service</li>
          <li>actions you are already doing on this parcel</li>
        </ul>

        <p>
          The service has automatically calculated the total available area in each land parcel that is eligible for the action.
        </p>

        {{ govukDetails({
        summaryText: "If you need to make an update",
        html: '
          <p>Contact the Rural Payments Agency if you think:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>the land details registered on the Rural Payments service need updating</li>
            <li>the information about existing actions or options on this parcel is incorrect</li>
          </ul>
          <p>Telephone: 020 8026 2395<br>
            Monday to Friday, 8:30am to 5pm (except bank holidays)</p>
          <p>
            <a class="govuk-link" href="https://www.gov.uk/call-charges" target="_blank">Find out about call charges (opens in new tab)</a>
          </p>
          <p class="govuk-body">Email: <a class="govuk-link" href="mailto:farmpayments@rpa.gov.uk">farmpayments@rpa.gov.uk</a></p>
          <p class="govuk-body">The RPA responds to email queries within 10 working days.</p>
        '
      }) }}

        {% if addedActions.length %}
          {% call summaryCard({
            title: {
              text: "Actions already added to " + parcelName
            }
          }) %}
          <ul class="govuk-list govuk-list--bullet">
            {% for action in addedActions %}
              <li>{{action.description}}</li>
            {% endfor %}
          </ul>
          {% endcall %}
        {% endif %}

        {% if groupedActions.length %}
          <form method="post" novalidate="novalidate" data-actions="{{ actions }}">
            <input type="hidden" name="crumb" value="{{ crumb }}">

            {% for group in groupedActions %}
              {% set hintHTML %}
                {% if group.sssiConsentRequired == true %}
                  {{ govukInsetText({
                    classes: "govuk-!-margin-top-1 govuk-!-margin-bottom-4",
                    html: '<p class="govuk-body">You must have <a class="govuk-link" rel="noreferrer noopener" target="_blank"
                                                                  href="./fptt-information#sec-10-get-all-necessary-regulatory-consents-permissions-and-licences-in-place">SSSI consent (opens in new tab)</a> to do these actions on this land parcel.</p>'
                  }) }}
                {% endif %}
                <p class="govuk-body">Total available area: {{ group.totalAvailableArea.value }} {{ group.totalAvailableArea.unitFullName }}</p>
              {% endset %}

              {% if group.actions.length == 1 %}
                {{ govukCheckboxes({
                    name: actionFieldPrefix + loop.index,
                    fieldset: {
                      legend: {
                        text: group.name,
                        classes: "govuk-fieldset__legend--m"
                      }
                    },
                    hint: {
                      text: "Total available area: " + group.totalAvailableArea.value + " " + group.totalAvailableArea.unitFullName
                    },
                    items: group.actions
                  }) }}
              {% else %}
                {{ govukRadios({
                    name: actionFieldPrefix + loop.index,
                    fieldset: {
                      legend: {
                        text: group.name,
                        classes: "govuk-fieldset__legend--m"
                      }
                    },
                    hint: {
                      html: hintHTML
                    },
                    items: group.actions
                  }) }}
              {% endif %}
            {% endfor %}

            <div class="govuk-button-group">
              {% block form %}
                {{ govukButton({
                  text: "Continue",
                  preventDoubleClick: true
                }) }}
              {% endblock %}
            </div>
          </form>
        {% elif ((not errors) or (errors.length == 0)) %}
          {{ govukWarningText({
            text: "No actions available to select.",
            iconFallbackText: "Warning"
          }) }}
        {% endif %}
      </div>
    </div>
  </div>
  {% if existingLandParcels %}
    <p class="govuk-body govuk-!-margin-bottom-5">
      <a href="check-selected-land-actions" class="govuk-link govuk-link--no-visited-state">Back to review selected actions</a>
    </p>
  {% endif %}
{% endblock %}
