{% extends baseLayoutPath %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block content %}
<div class="govuk-body">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      {% if errorSummary.length > 0 %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorSummary
        }) }}
      {% endif %}

      <h1 class="govuk-heading-l">
        Select actions for land parcel <span style="white-space: nowrap">{{ parcelName }}</span>
      </h1>

      <p>The list shows actions you can do on this parcel that are compatible with:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the land details registered with the Rural Payments service</li>
        <li>actions you are already doing on this parcel</li>
      </ul>

      <p>
        The service has automatically calculated the total available area in each land parcel that
        is eligible for the action.
      </p>


      {{ govukDetails({
        summaryText: "If you need to make an update",
        html: '
          <p>Contact the Rural Payments Agency if you think:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>the land details registered on the Rural Payments service need updating</li>
            <li>the information about existing actions or options on this parcel is incorrect</li>
          </ul>
          <p>Telephone: 03000 200 301<br>
            Monday to Friday, 8:30am to 5pm (except bank holidays)</p>
          <p>
            <a class="govuk-link" href="https://www.gov.uk/call-charges" target="_blank">Find out about call charges (opens in new tab)</a>
          </p>'
      }) }}

      {% if availableActions %}
        <form method="post" novalidate data-actions="{{ actions }}" >
          <input type="hidden" name="crumb" value="{{ crumb }}">

          {{ govukRadios({
            name: "landAction",
            fieldset: {
              legend: {
                text: "Assess moorland",
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "CMOR1",
                text: "CMOR1: Assess moorland and produce a written record"
              }
            ]
          }) }}

          {{ govukRadios({
            idPrefix: "livestockGrazingOnMoorland",
            name: "landAction",
            fieldset: {
              legend: {
                text: "Livestock grazing on moorland",
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "UPL1",
                text: "UPL1: Moderate livestock grazing on moorland"
              },
              {
                value: "UPL2",
                text: "UPL2: Low livestock grazing on moorland"
              },
              {
                value: "UPL3",
                text: "UPL3: Limited livestock grazing on moorland"
              }
            ]
          }) }}

          <div class="govuk-button-group">
            {% block form %}
              {{ govukButton({
                text: "Continue",
                preventDoubleClick: true
              }) }}
            {% endblock %}
          </div>
        </form>
      {% else %}
        {{ govukWarningText({
          text: "No actions available to select.",
          iconFallbackText: "Warning"
        }) }}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
