{% extends baseLayoutPath %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block content %}
<div class="govuk-body">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if landParcelError %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [{
            text: landParcelError
          }]
        }) }}
      {% endif %}

      {% if parcels %}
        <form method="post" data-actions="{{ actions }}" >
          {% set radioItems = [] %}
          {% for parcel in parcels %}
            {% set radioItems = radioItems.concat([{
              value: parcel.value,
              text: parcel.text,
              hint: {
                text: parcel.hint
              }
            }]) %}
          {% endfor %}

          {% if radioItems.length > 0 %}
            {{ govukRadios({
                name: "landParcel",
                fieldset: {
                  legend: {
                    text: "Select land parcel for actions",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                  }
                },
                items: radioItems,
                value: parcelId
              })
            }}

            <div class="govuk-button-group">
              <input type="hidden" name="crumb" value="{{ crumb }}">
              {% block form %}
                  {{ govukButton({
                    text: "Continue",
                    preventDoubleClick: true
                  }) }}
              {% endblock %}
            </div>
          {% else %}
            {{ govukWarningText({
              text: "No land parcels available to select.",
              iconFallbackText: "Warning"
            }) }}
          {% endif %}
        </form>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
