{% extends baseLayoutPath %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block content %}
  <div class="govuk-body">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        {% if errors.length > 0 %}
          {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errors
        }) }}
        {% endif %}

        <h1 class="govuk-heading-l">
          Select actions for this land parcel
        </h1>

        <p>Only actions that can be used together on this parcel are available.</p>
        <p>Incompatible actions are shown but cannot be selected.</p>

        {% if actionItems.length %}
          <form method="post" novalidate="novalidate"{% if errors.length > 0 %} data-has-errors="true"{% endif %}>
            <input type="hidden" name="crumb" value="{{ crumb }}">
            <input type="hidden" name="action" value="validate">

            <h2 class="govuk-heading-m">Available actions</h2>

            {% if pageConsents.length %}
              {% set consentLinks = [] %}
              {% if 'sssi' in pageConsents %}
                {% set consentLinks = (consentLinks.push('<a class="govuk-link" href="./fptt-information#sec-10-get-all-necessary-regulatory-consents-permissions-and-licences-in-place" target="_blank" rel="noopener noreferrer">SSSI consent (opens in new tab)</a>'), consentLinks) %}
              {% endif %}
              {% if 'hefer' in pageConsents %}
                {% set consentLinks = (consentLinks.push('an <a class="govuk-link" href="https://www.gov.uk/government/publications/sustainable-farming-incentive-2026-sfi26/sfi26-scheme-rules-and-guidance#how-to-request-an-sfi-hefer" target="_blank" rel="noopener noreferrer">SFI HEFER (opens in new tab)</a>'), consentLinks) %}
              {% endif %}
              {% call govukInsetText({ id: "parcel-consent-intro" }) %}
                Some actions on this parcel need {{ consentLinks | join(' and ') | safe }}.
                We&rsquo;ll show this on those actions.
              {% endcall %}
            {% endif %}

            {{ govukCheckboxes({
                name: actionFieldName,
                items: actionItems,
                classes: "select-actions-checkboxes"
              }) }}

            <div class="govuk-button-group">
              {{ govukButton({
                text: "Continue",
                preventDoubleClick: true
              }) }}
            </div>
          </form>
        {% elif ((not errors) or (errors.length == 0)) %}
          {{ govukWarningText({
            text: "No actions available to select.",
            iconFallbackText: "Warning"
          }) }}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script type="module" nonce="{{ cspNonce }}" src="{{ getAssetPath('select-actions-page.js') }}"></script>
{% endblock %}
