{% extends baseLayoutPath %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "support-details/macro.njk" import defraSupportDetails %}

{% block content %}
<div class="govuk-body">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errorMessage %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [{
            text: errorMessage
          }]
        }) }}
      {% endif %}

      <form method="post" data-actions="{{ actions }}" >
        {{ govukRadios({
            name: "selectedLandParcel",
            fieldset: {
              legend: {
                text: pageTitle,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: "Use your map to check these reference numbers against your land parcels."
            },
            items: parcels,
            value: parcelId,
            errorMessage: errorMessage and { text: errorMessage }
          })
        }}
        {% if parcels.length > 0 %}
          <p class="govuk-body">
            You will be able to add actions to the other land parcels before submitting your application.
          </p>

          <div id="landParcels" class="govuk-button-group">
            <input type="hidden" name="crumb" value="{{ crumb }}">
            {% block form %}
                {{ govukButton({
                  text: "Continue",
                  preventDoubleClick: true
                }) }}
            {% endblock %}
          </div>
        {% endif %}
      </form>

      {% if existingLandParcels and ((not errors) or (errors.length == 0)) %}
          <p class="govuk-body govuk-!-margin-bottom-5">
          <a href="check-selected-land-actions" class="govuk-link govuk-link--no-visited-state">Back to review selected actions</a>
        </p>
      {% endif %}

      {{ defraSupportDetails() }}
    </div>
  </div>
</div>
{% endblock %}