{% extends baseLayoutPath %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{heading}}</h1>
      {% if message %}
        <p class="govuk-body">{{message}}</p>
      {% endif %}
      <p class="govuk-body">Contact the Rural Payments Agency and mention the reference number below if you have a query.</p>
      <p class="govuk-body"><b>Reference number: {{refNumber}}</b></p>
      <p class="govuk-body">
        Telephone: 020 8026 2395<br>
        Monday to Friday, 8:30am to 5pm (except bank holidays)</p>
      <p class="govuk-body"><a class="govuk-link" href="https://www.gov.uk/call-charges" target="_blank">Find out about call charges (opens in new tab)</a></p>
      <p class="govuk-body">Email: <a class="govuk-link" href="mailto:farmpayments@rpa.gov.uk">farmpayments@rpa.gov.uk</a></p>
      <p class="govuk-body">The RPA responds to email queries within 10 working days.</p>
    </div>
  </div>
{% endblock %}
