{% extends baseLayoutPath %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "support-details/macro.njk" import defraSupportDetails %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if previewMode %}
        {% include "partials/preview-banner.html" %}
      {% endif %}


      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

      <p class="govuk-body">By submitting your application you confirm that:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the information you have provided is correct to the best of your knowledge</li>
        <li>you will follow the guidance on <a class="govuk-link" href="/farm-payments/technical-test-information" target="_blank">Farm payments technical test information (opens in new tab)</a> to complete your selected actions</li>
        <li>you have read, understood and agree to the <a class="govuk-link" href="/farm-payments/terms-and-conditions" target="_blank">terms and conditions (opens in new tab)</a> for your selected actions</li>
      </ul>

      <br>
      <form class="form" method="post">
        <input type="hidden" name="action" value="send">
        <input type="hidden" name="crumb" value="{{ crumb }}">
        <button data-prevent-double-click="true" class="govuk-button" data-module="govuk-button">
          Submit
        </button>
      </form>

      {{ defraSupportDetails({typeOfSupport: 'question'}) }}

    </div>
  </div>

  {% if config.cdpEnvironment == 'local' and context | length and not context.isForceAccess %}
    {% include "partials/debug.html" %}
  {% endif %}
{% endblock %}
