{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  id: fieldId,
  name: fieldId,
  classes: "govuk-input--width-5",
  label: {
    text: "Quantity"
  },
  hint: {
    text: maxQuantity + " " + unitFullName + " available"
  } if maxQuantity != undefined else undefined,
  suffix: {
    text: unit
  } if unit else undefined,
  attributes: {
    max: maxQuantity
  } if maxQuantity != undefined else undefined,
  errorMessage: {
    text: errorText
  } if errorText else undefined,
  value: quantityValue,
  formGroup: {
    beforeInput: {
      html: '<div class="select-actions-refresh-banner select-actions-refresh-banner--hidden" id="' + fieldId + '-refresh-banner">Updating available land for this action&hellip;</div>'
    }
  }
}) }}
