{% extends "layout.html" %}

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
<div class="govuk-body">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-hint">
        Land parcel: {{landParcel}}
      </div>
      {% if availableActions %}
        <form method="post" novalidate>
          {% set actionList = [] %}
          {% set action = actionId or actions[0].id %}

          {% for action in availableActions %}
            {% set actionList = actionList.concat([{
              value: action.code,
              text: action.description,
              availableArea: action.availableArea.value,
              availableAreaUnit: action.availableArea.unit,
              checked: selectedActions and selectedActions.includes(action.code)
            }]) %}
          {% endfor %}
          
          {% if actionList.length > 0 %}
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="action-hint">
              
              <table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--l">Available actions for selected parcel</caption>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Select</td>
      <td class="govuk-table__cell">Action</td>
      <td class="govuk-table__cell">Available</td>
      <td class="govuk-table__cell">Quantity</td>
      <td class="govuk-table__cell">Unit</td>
    </tr>
    <tr class="govuk-table__row">
        {% for action in actionList %}
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes__item series-selector-items">
              <input class="govuk-checkboxes__input" id="{{action.value}}" name="actions" type="checkbox" value="{{action.value}}" {% if action.checked %}checked{% endif %}>
              <label class="govuk-label govuk-checkboxes__label" for="actions"></label>
            </div>
          </td>
          <td class="govuk-table__cell">{{action.text}}</td>
          <td class="govuk-table__cell">{{action.availableArea}}</td>
          <td class="govuk-table__cell">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="area"></label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="area" name="area" value="{{area}}" type="text" inputmode="numeric">
              </div>
            </div>
          </td>
          <td class="govuk-table__cell">ha.</td>
      {% endfor %}

    </tr>
  </tbody>
</table>


            </fieldset>
          </div>
            
            <div class="govuk-button-group">
              <input type="hidden" name="crumb" value="{{ crumb }}">
              {% block form %}
                  {{ govukButton({
                    text: "Continue",
                    preventDoubleClick: true
                  }) }}
              {% endblock %}
            </div>
          {% else %}
            {{ govukWarningText({
              text: "No actions available to select.",
              iconFallbackText: "Warning"
            }) }}
          {% endif %}
        </form>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}