<header class="defra-brand-bar" role="banner">
  <div class="govuk-width-container">
    <span class="defra-brand-bar__title">Department for Environment, Food &amp; Rural Affairs</span>
  </div>
</header>
