<h3 class="govuk-heading-m">Evidence to keep</h3>
<p class="govuk-body">
  You must keep the required written stocking calendar and supply this as evidence if the RPA ask for it. It can be
  recorded on paper or electronically.
</p>

<h3 class="govuk-heading-m">Other actions or options you can do on the same area as this action</h3>
<p class="govuk-body">
  You can do the following actions or options on the same area, in the same land parcel, as this action.
</p>

{% include "fptt-actions/shared/other-actions-same-area-table.html" %}

<p class="govuk-body">
  If an action or option cannot be located on the same area, you may be able to do it on a different area in the same
  land parcel. Read
  <a
    class="govuk-link"
    href="/farm-payments/fptt-information#sec-6-eligible-land-in-other-funding-schemes"
    rel="noreferrer noopener"
    target="_blank"
  >
    section 6 ‘Eligible land in other funding schemes’ (opens in new tab)</a
  >
  in the FPTT information for more details.
</p>
<p class="govuk-body">
  You can do the following actions or options on the eligible boundaries of a land parcel entered into this action:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>SFI 2024 actions: CHRW1, CHRW2, CHRW3, BND1, BND2 and WBD2</li>
  <li>SFI 2023 actions: HRW1, HRW2, HRW3</li>
  <li>CS option BE3 (management of hedgerows)</li>
  <li>the introductory level of the SFI pilot hedgerows standard</li>
</ul>
