<p class="govuk-body">To convert livestock numbers into GLU, you must use the following values:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>Cattle over 2 years old at the start of an agreement year – 1.0 GLU</li>
  <li>Cattle over 6 months to 2 years old at the start of an agreement year – 0.6 GLU</li>
  <li>Heavy sheep (for example, most lowland sheep, rams and larger hill sheep) – 0.12 GLU</li>
  <li>Light sheep (for example, store lambs and small hill sheep – 0.08 GLU</li>
  <li>Goat – 0.12 GLU</li>
  <li>Pony or donkey – 0.8 GLU</li>
  <li>Horse – 1.0 GLU</li>
</ul>
