<p class="govuk-body">
  You must not carry out supplementary feeding of livestock on land entered into this action, apart from mineral licks.
</p>
<p class="govuk-body">
  At the start of your FPTT agreement, you must produce a written stocking calendar for each land parcel entered into
  this action.
</p>
<p class="govuk-body">
  The stocking calendar must show how you plan to meet this action’s requirements. It must include:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>land parcel reference number and hectarage</li>
  <li>dates you plan to graze the land parcel during each calendar month</li>
  <li>monthly numbers of livestock which will graze the land parcel, including their type and age bracket</li>
</ul>
<p class="govuk-body">
  If you manage several adjacent land parcels as one grazing unit, you can keep one stocking calendar for that grazing
  unit. You must include all the land parcel reference numbers which comprise that grazing unit.
</p>
