      <h4 class="govuk-heading-s">How to calculate the livestock density</h4>
      <p class="govuk-body">
        Once you’ve converted your livestock numbers into GLU using the values shown under
        ‘What to do’, you can use the
        <a class="govuk-link"
           href="https://assets.publishing.service.gov.uk/media/66a907cffc8e12ac3edb0773/uplands-grazing-calculator.xlsx"
           rel="noreferrer noopener" target="_blank">
          Livestock grazing on moorland calculator</a> to calculate the livestock density per ha.
      </p>

      <h4 class="govuk-heading-s">Grazing on moorland</h4>
      <p class="govuk-body">Cattle, sheep, and ponies graze in different ways.</p>
      <p class="govuk-body">You can achieve greater environmental benefits if you graze the moorland with:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>a livestock species which has suitable grazing traits for the habitat type</li>
        <li>a suitable number of livestock for the habitat type, to avoid overgrazing or under grazing it</li>
      </ul>

      <h4 class="govuk-heading-s">Grazing traits: ponies</h4>
      <p class="govuk-body">Ponies:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>can graze swards very tight, and at low stocking densities can create a good structural mosaic</li>
        <li>
          have a strong preference for grasses and will graze long coarse grass, such
          as purple moor-grass
        </li>
        <li>are very adaptable grazers, and can graze bracken (particularly in the autumn) and gorse</li>
        <li>are less likely to graze heather over the winter months compared with sheep</li>
      </ul>

      <h4 class="govuk-heading-s">Grazing traits: cattle</h4>
      <p class="govuk-body">Cattle:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          graze on longer swards, and graze less selectively than sheep and on coarser
          forage, creating a more varied sward structure
        </li>
        <li>
          will graze lower quality forage such as purple moor-grass, particularly in the spring and early summer
        </li>
      </ul>
      <p class="govuk-body">
        Cattle are more likely to cause poaching due to their size, particularly on wetter areas.
        You can remove them from the area over the winter months to reduce the risk of poaching.
      </p>

      <h4 class="govuk-heading-s">Grazing traits: sheep</h4>
      <p class="govuk-body">Sheep:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>can graze swards very tight</li>
        <li>are highly selective feeders at fine scale, often selecting young flowers and shoots</li>
        <li>are unlikely to eat long coarse grasses, such as purple moor-grass, if alternative food is available</li>
      </ul>
      <p class="govuk-body">
        Sheep can cause a decline in dwarf shrub cover due to selective browsing, particularly
        when out over the winter months. You can reduce the risk of this happening by:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>removing all the sheep for the entire winter or part of the winter (‘partial off-wintering’)</li>
        <li>reducing sheep numbers during the winter months</li>
      </ul>

      <h4 class="govuk-heading-s">Grazing to maintain or enhance moorland habitat</h4>
      <p class="govuk-body">
        To help you achieve this action’s aim, you can maintain or enhance the habitat on your
        moorland by grazing appropriately. This includes trying to avoid grazing on sensitive
        priority habitats, which may damage the habitat.
      </p>
      <p class="govuk-body">You’ll usually need to graze the following moorland habitats, as relevant:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>most grasslands</li>
        <li>fens and flushes</li>
        <li>most heathlands</li>
        <li>land with historic and archaeological features, to avoid trees, bracken and scrub causing damage</li>
        <li>upland wood pasture</li>
      </ul>
      <p class="govuk-body">Sensitive priority habitats which may be damaged by grazing include:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>most woodlands</li>
        <li>blanket bog</li>
        <li>mountain heath</li>
        <li>willow scrub</li>
        <li>fragmented upland heath that needs to be restored</li>
      </ul>

      <h4 class="govuk-heading-s">Neighbouring livestock</h4>
      <p class="govuk-body">
        If the area of moorland you enter into this action is unfenced and adjacent land is
        grazed by other farmers or land managers, you may need to:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          consider the potential impact of neighbouring livestock straying on your ability
          to meet this action’s requirements, particularly the maximum livestock density
          threshold
        </li>
        <li>
          talk to neighbouring farmers or land managers about removing stray livestock
          from your area of moorland
        </li>
      </ul>
