<h3 class="govuk-heading-m">Where you can do this action</h3>
<p class="govuk-body">You can do this action on land located above the moorland line that’s:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>
    an eligible land type (as defined in
    <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="/farm-payments/fptt-information#section-5.1">
      section 5.1 ‘Eligible land types for FPTT’ (opens in new tab)</a
    >
    in the FPTT information)
  </li>
  <li>registered with an eligible land cover on your digital maps</li>
</ul>
<p class="govuk-body">
  If a land parcel is located above and below the moorland line, you can enter it into this action if:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>most of the area is above the moorland line</li>
  <li>it’s managed as one grazing unit with adjacent land parcels located above the moorland line</li>
</ul>
<p class="govuk-body">Farmyards or land used for turf or peat production are not eligible for this action.</p>
