{% from "govuk/components/details/macro.njk" import govukDetails %}

{% if params.typeOfSupport == 'question' %}
  {% set summaryText = "If you have a question" %}
  {% set introText = "Contact the Rural Payments Agency (RPA) if you have a query." %}
{% else %}
  {% set summaryText = "If you need to make an update" %}
  {% set introText = "Contact the Rural Payments Agency (RPA) to update your details." %}
{% endif %}

{% set htmlContent %}
  {% include "rpa-contact-panel/html-content.njk" %}
{% endset %}

{{ govukDetails({
  summaryText: summaryText,
  html: htmlContent
}) }}
