{% from "govuk/components/details/macro.njk" import govukDetails %}

{% if params.summaryText %}
  {% set summaryText = params.summaryText %}
{% else %}
  {% if params.typeOfSupport == 'question' %}
    {% set summaryText = "If you have a question" %}
  {% elseif params.typeOfSupport == 'help' %}
    {% set summaryText = "If you need help" %}
  {% else %}
    {% set summaryText = "If you need to make an update" %}
  {% endif %}
{% endif %}
{% if params.html %}
  {% set htmlContent = params.html %}
{% else %}
  {% if params.typeOfSupport == 'question' %}
    {% set introText = "Contact the Rural Payments Agency (RPA) if you have a query." %}
  {% elseif params.typeOfSupport == 'help' %}
    {% set introText = "Get help with your application." %}
  {% else %}
    {% set introText = "Contact the Rural Payments Agency (RPA) to update your details." %}
  {% endif %}

  {% set email = params.email %}
  {% set htmlContent %}
    {% include "rpa-contact-panel/html-content.njk" %}
  {% endset %}
{% endif %}


{{ govukDetails({
  summaryText: summaryText,
  html: htmlContent
}) }}
